<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <style>
        <% @color = Appearance.first.color %>
        <% @seccolor = Appearance.first.sec_color %>
        .first{
            background-color: <%= @color %>;
            border-bottom-color: <%= @seccolor %>;
        }

        .panel-heading{
          background-color : <%= @color %> !important;
        }
    </style>
  </head>
  <% @title = Contpan.first.site_name %>
	<body>
      <div id="wrapper">
      	<div class="navbar navbar-fixed-top navbar-default first" role="navigation">
      		<div class="container-fluid">
      			<div class="row">
      					<div class="navbar-header">
      						<div class="navbar-brand">
      							<strong id="title" class="title-font"><%= @title %></strong>
      						</div>
      					</div>
      			</div>
      		</div>
      	</div>
      </div>

			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
				<div class="panel-body" id="loginform">
					<div class="text-center" style="margin-bottom:10px; ">
            <% @image = Appearance.first %>
            <%= image_tag(@image.image_url.to_s, :size => "150x150", :class => 'img-circle center-block') %>
            <h4 class="text-muted mt-0 font-alt">Welcome to <%= @title %></h4>
          </div>
					<hr>
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %>" role="alert">
              <%= msg %>
            </div>
          <% end %>
					<div class="row">
							<%= form_for(:session, url: "/login", :html => {:class => "form-horizontal"}) do |f| %>
								<%= f.label :username, "Username", id: "usrlogin" %>
								<%= f.text_field :username, class: "form-control" %>

								<%= f.label :password, id: "pwdlogin" %>
								<%= f.password_field :password, class: "form-control" %>

								<center>
								<%= f.submit "Sign In", class: "btn btn-primary btn-block", id: "btnlogin" %>
								</center>
							<% end %>
					</div>
					<hr>
				</div>
				</div>
			</div>
      <footer id="footer" role="contentinfo" class="footer_design">
            <div class="container hidden-xs">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="title-font">GPIS</h3>
                  <p>GPIS or the Graduate Program Information System is a web application for the Ateneo Information and Communications Technology Center's Graduate Program Studies. It allows the graduate program coordinator, faculty, as well as students to process subject loading, enlistment, application for comprehensice exam. It also supprots generating reports for the program coordinator...
                    <a href="#">more</a>
                  </p>
              </div>

            <div class="footer-bottom footer_bottom">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6" style="padding-top:50px">
      			           © Copyright 2017 Ateneo de Naga University Favorito J.R., Garcera K.L, Laureles J.P.
                  </div>
                </div>
              </div>
            </div>
      </footer>
  </body>
</html>
