<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Discount</h2>
		</div>
		<%= form_for(@history, :url => update_studenthistory_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :discount, "Discount", class: "col-sm-2 control-label" %>
					<% @discount = Discount.all %>
					<div class="col-sm-10">
							<%= f.select(:discount_id, @discount.collect {|disc| [@st = disc.disc_name, disc.id]}, {class: "form-control"}, {id: "select-tag"}) %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">
					<%= f.submit "Update", class: "btn btn-default btn-primary btn-block", :id => "submitform" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
