<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Comprehensive Exam - Application
                </li>
            </ol>
            <div class="panel-heading">
                Application for Comprehensive Exam
            </div>
            <div class="panel-body">
                <%= form_for @compexam, url: "/compexamS", :html => {:class => "form-horizontal"} do |f| %>
                    <%= f.hidden_field :student_id, :value => current_user.id, class: "form-control" %>
                    <% flash.each do |name, msg| %>
                      <div class="alert alert-<%= name %>" role="alert">
                        <b><%= msg %></b>
                        <ul>
                          <li><b>Amount</b> and <b>OR_NO</b> fields are <b>REQUIRED</b>.</li>
                          <li><b>OR_NO</b> may already be <b>TAKEN</b>.</li>
                        </ul>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-md-6">
                        <%= f.label :or_no, "OR_NO" %>
                        <%= f.text_field :or_no, class: "form-control" %>
                      </div>
                      <div class="col-md-6">
                        <%= f.label :amount, "Amount" %>
                        <%= f.text_field :amount, class: "form-control" %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <% @offering = Offering.where(id: @container2) %>

                        <%= f.label :temp, "Please select #{Tempval.first.subjtotake} Subjects" %>
                        <ul class="list-group">
                          <% @offering.each do |o| %>
                            <li class="list-group-item">
                              <div>
                                <%= f.check_box :temp, {:multiple => "true"}, "#{o.id}" %>
                                <% @sem = Semester.find(o.semester_id).sem_name %>
                                <% @styr = Schoolyear.find(o.schoolyear_id).startyr %>
                                <% @enyr = Schoolyear.find(o.schoolyear_id).endyear %>
                                <% @sy = @styr.to_s + "-" + @enyr.to_s %>
                                <% @subjcode = Subject.find(o.subject_id).subject_code %>
                                <% @subjtitle = Subject.find(o.subject_id).subject_title %>
                                <% @subj = @subjcode + "-" + @subjtitle %>
                                <% @fac = Faculty.find(o.faculty_id) %>
                                <% @teacher = @fac.f_fname + " " + @fac.f_mname + " " + @fac.f_lname %>
                                <% @label = @subj + ", " + @sem + " Sem, S/Y " + @sy + ", " + @teacher %>
                                <%= f.label :temp, "#{@label}" %>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                    <center>
                      <button type="button" id="btnapply" class="btn btn-default btn-primary" data-toggle="modal" data-target="#promptSubmit">
                        Submit Application
                      </button>

                      <div id="promptSubmit" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-9">
                                  <p>Are you sure you want to submit application?</p>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
                                  <%= f.submit "YES", class: "btn btn-default btn-sm btn-primary" %>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </center>
                <% end %>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
