<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-check"></span>Comprehensive Exam
                </li>
            </ol> 
            <div class="alert alert-dismissable alert-info">
              <strong>Note:</strong>
              Eligibility for taking the comprehensive exam depends on the required minimum number of subjects passed as assigned by the Graduate Program Coordinator
            </div>
            <div class="panel-default panel container-fluid">
                <div class="panel-heading row panel-custom">
                      <div class="col-xs-4">
                          <h3 class="panel-title">My Comprehensive Exams</h3>
                      </div>
                      <div class="col-xs-4"></div>                               
                </div>
                <div class="panel-body">
                    <% @elig = false %>
                    <div class="row">
                        <div class="col-xs-6">
                          Exam Subjects Passed: <%= @passed %>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-xs-6">
                          <% @verdict %>
                          Result: 
                          <% if @ref != nil %>
                            <% @elig = true %>
                            <% if @checker == true %>
                                  <% @verdict = "PENDING" %>
                                  <span class="label label-warning">PENDING</span>
                            <% elsif @passed < @ref.subjtopass %>
                                  <% @verdict = "FAILED" %>
                                  <span class="label label-danger">FAILED</span>
                            <% elsif @passed >= @ref.subjtopass %>
                                  <% @verdict = "PASSED" %>
                                  <span class="label label-success">PASSED</span>
                            <% end %> 
                          <% end %>                          
                        </div>                    
                    </div>
                    <div class="row">
                      <div class="col-xs-4"></div>
                      <div class="col-xs-6"></div>
                      <div class="col-xs-2"> 
                        <% if @rlog >= Tempval.first.subjtotake && @count == 0 %>
                            <% @elig = true %>
                            <a href="/students/compexam/apply" class="btn btn-primary btn-block" role="button" id="btncommon">New Application</a>
                        <% elsif @verdict == "FAILED" %>
                            <% @elig = true %>
                            <%= button_to('RETAKE', retake_subj_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#retake_subj', method: 'get', :class => 'btn btn-sm btn-success pull-right'}) %>                
                        <% end %>  
                      </div>
                    </div>            
                    <br>
            <% if @elig == true %>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th></th>
                        <th>Date Applied</th>
                        <th style="text-align: center">Passing</th>
                        <th style="text-align: center">Score</th>
                        <th style="text-align: center">Amount</th>
                        <th style="text-align: center">OR_NO</th>
                        <th>Result</th>
                        <th style="width: 5%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @tempcount = 0 %>
                    <% @compexam.each do |c| %>
                        <% @count = Compexamsubj.where(compexam_id: c.id).where(passed: true).count %>
                        <% @test = Compexamsubj.where(compexam_id: c.id).where.not(passed: nil).count %>
                        <% @ver = "N/A" %>

                        <% if @count >= c.subjtopass %>
                            <% @ver = "PASSED" %>
                        <% elsif @count < c.subjtopass && @test == c.subjtotake %>
                            <% @ver = "FAILED" %>
                        <% end %>
                        <tr>
                            <td style="text-align: center"><%= @tempcount = @tempcount + 1 %></td>
                            <td><%= c.date_applied.strftime("%a, %b %d, %Y")  %></td>
                            <td><%= c.subjtopass %>/<%= c.subjtotake %></td>
                            <td><%= @count %></td>
                            <td><%= c.amount %></td>
                            <td><%= c.or_no %></td>
                            <td style="text-align: center">
                                <% if @ver == "PASSED" %>
                                    <span class="label label-success">PASSED</span>
                                <% elsif @ver == "FAILED" %>
                                    <span class="label label-danger">FAILED</span>
                                <% else %>
                                    <span class="label label-warning">PENDING
                                <% end %>
                                </td>
                            <td>
                              <a class="btn btn-sm btn-primary" href="/students/compexam/<%= c.id %>"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </td>
                        </tr>
                    <% end %>
                  </tbody>
              </table>
            <% else %>
              <div style="color: red!important">
                <h4>
                  <b>YOU ARE NOT ELIGIBLE TO TAKE THE COMPREHENSIVE EXAM</b>
                </h4>
                <h4>
                  <b>FOR CONCERNS, PLEASE CONTACT THE GRADUATE PROGRAM COORDINATOR</b>
                </h4>
              </div>
            <% end %>                                  
                </div>            
            </div>         
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="retake_subj" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>