<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-th"></span>Change Password
                </li>
            </ol>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-heading custompanel">
                      <h4 class="semibold nm">CHANGE PASSWORD</h4>
                    </div>
                    <div class="panel-body">
                        <%= form_for(@student, :url => update_passwords_path) do |f| %>
                          <div class="form-group">
                              <div class="col-sm-4">
                                  <%= f.label :username, "Old Password" %>
                              </div>
                              <div class="col-sm-8">
                                <%= password_field_tag :current_password, params[:current_password] %>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-4">
                                  <%= f.label :username, "New Password" %>
                              </div>
                              <div class="col-sm-8">
                                <%= f.password_field :password %>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-4">
                                  <%= f.label :username, "Confirm Password" %>
                              </div>
                              <div class="col-sm-8">
                                <%= f.password_field :password_confirmation %>
                              </div>
                          </div>
                            <div class="col-sm-6">
                              <%= f.submit "Update Password", class: "btn btn-info btm-sm" %>
                            </div>
                        <% end %>                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
