$(document).ready( function() {
	$("#edit_studenthistory").html("<%= escape_javascript(render 'students/edit_studenthistory') %>");
	$('#edit_studenthistory').modal('show');

	$("#select-tag").select2({
    minimumResultsForSearch: -1,
		width: "95%"
  });
});

$("#submitform").click( function() {
  $( '#edit_studenthistory' ).modal( 'hide' );
});

$('#edit_studenthistory').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
