<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Comprehensive Exam
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-th"></span>Exam Details
                </li>                
            </ol>
                        <div class="panel-default panel container-fluid">
                <div class="panel-heading row panel-custom">
                
                  <div class="col-xs-4">
                    <h3 class="panel-title">Exam Details</h3>
                  </div>
                  <div class="col-xs-4"></div>                               
            </div> 
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Subject Code</th>
                    <th style="text-align: center">Title</th>
                    <th style="text-align: center">Examiner</th>
                    <th>Sem</th>
                    <th style="text-align: center">S/Y</th>
                    <th>Schedule</th>
                    <th>Date Taken</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  <% @compexamsubj.each do |c| %>
                      <% @verd=nil %>
                      <% @off = Offering.find(c.offering_id) %>
                      <% @subject = Subject.find(@off.subject_id) %>
                      <% @faculty = Faculty.find(c.examiner) %>
                      <% @semester = Semester.find(@off.semester_id) %>
                      <% @sy = Schoolyear.find(@off.schoolyear_id) %>
                      <% @tempdate = nil %>
                      <% @temptime = nil %>
                      <% if c.sched_date != nil && c.sched_time != nil %>
                        <% @tempdate = c.sched_date.to_date.strftime("%a, %b %d %Y") %>
                        <% @temptime = c.sched_time.strftime("%I:%M %p") %>
                      <% end %>
                      <tr>
                          <td><%= @subject.subject_code %></td>
                          <td><%= @subject.subject_title %></td>
                          <td><%= @faculty.f_fname[0] %>.<%= @faculty.f_mname[0] %>. <%= @faculty.f_lname %></td>
                          <td><%= @semester.sem_name %></td>
                          <td><%= @sy.startyr.to_s %> <%= "-" %> <%= @sy.endyear.to_s %></td>
                          <td><%= @tempdate %> <%= @temptime %></td>
                          <td>
                            <% if c.datetaken != nil %>
                                <%= c.datetaken.to_date.strftime("%a, %b %d %Y")  %>
                            <% else %>
                                <%= c.datetaken %>
                            <% end %>
                          </td>
                          <td>
                              <% if c.passed == nil %>
                                  <% @verd = "pending" %>
                                  <span class="label label-warning">PENDING</span>
                              <% elsif c.passed == true %>
                                  <% @verd = "PASSED" %>
                                  <span class="label label-success">PASSED</span>
                              <% elsif c.passed == false %>
                                  <% @verd = "FAILED" %>
                                  <span class="label label-danger">FAILED</span>
                              <% end %>                            
                          </td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
