<div id="page-wrapper">
  <div class="row">
      <div class="col-md-2">
        <!-- filler -->
      </div>
      <div class="col-md-10">
          <ol class="breadcrumb">
              <li class = "active">
                  <span class="fa fa-info"></span><a href="#"> Help Center</a>
              </li>
          </ol>

          <div class="panel-body">
            <h1><b>Help Center</b></h1>
            <hr>
            <h3> Enlisting Subjects </h3>
            <br>
            <ul>
              <li><h4>Go to <b><i>Enlist Subjects</i></b>.</h4></li>
              <li><h4><i>To enlist a subject</i>, select a subject from the <b>Subject Offerings table</b> and click its respective <b><i>add button</i></b>.</h4></li>
              <li><h4><i>To drop a subject</i>, select a subject from the <b>Enlisted Subjects table</b> and click its respective <b><i>drop "x" button</i></b>.</h4></li>
              <li><h4><i>To change active discount</i>, click the button with the pencil icon and select a discount that you want to be active.</h4></li>
            </ul>

            <br>

            <h3> Applying for Comprehensive Exam </h3>
            <br>
            <ul>
              <li><h4>Go to <b><i>Comprehensive Exam</i></b>.</h4></li>
              <li><h4><i>Click <b><i>New Application button</i></b></h4></li>
              <li><h4><i>Fill-up the form. (note: all fields are required)</li>
              <li><h4>Click <b><i>Submit Application button</i></b></h4></li>
            </ul>

            <br>
            <hr>
            <h2><b>About</b></h2>
            <p><h4>ADNU ICTC GPIS is a multipurpose information system that caters to the generation of reports needed during the enrollment by the Graduate
              Program Coordinator (GPC) and the application for comprehensive exam by the Graduate School students. The system provides the GPC and the
              students a better interface and an easier way of handling enrollment tasks, report generation, comprehensive exam application, and results
              management. The system also helps other schools in handling the mentioned tasks easier by following the process of the AdNU ICTC Graduate Program.</h4></p>

          </div>

      </div>
    </div>
</div>
