<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-book"></span>My Subjects
                </li>
            </ol>

            <div class="panel-default panel container-fluid">
                    <div class="panel-heading row panel-custom">
                      <div class="col-xs-4">
                          <h3 class="panel-title">
                              My Subjects
                          </h3>
                      </div>
                      <div class="col-xs-4"></div>                                             
            </div>
            <div class="panel-body">
                <% @schoolyear.each do |s| %>
                    <% @thistory = History.where(student_id: current_user.id).where(sy: s.id) %>
                    <% @cont = Array.new %>
                    <% @thistory.each do |th| %>
                        <% @cont << th.id %>
                    <% end %>
                    <% @reclog = Recordlog.where(history_id: @cont) %>
                    <% @off = Array.new %>
                    <% @reclog.each do |r| %>
                        <% @off << r.offering_id %>
                    <% end %>
                    <% @allsem = Array.new %>
                    <% @offering = Offering.where(id: @off) %>
                    <% @tempSemester = Semester.all %>
                    <% @tempSemester.each do |s| %>
                        <% if Offering.where(id: @off).where(semester_id: s.id).exists? %>
                            <% @allsem << s.id %>
                        <% end %>
                    <% end %>
                    <div class="panel-heading">
                        School Year <%= s.startyr %>-<%= s.endyear %>
                    </div>
                    <% @allsem.each do |a| %>
                    <table class="table display table-bordered">
                      <thead>
                        <tr>
                            <th style="width: 11%">SUBJ CODE</th>
                            <th style="text-align: center; width: 35%">TITLE</th>
                            <th style="width: 7%">SECTION</th>
                            <th>TEACHER</th>
                        </tr>
                      </thead>
                      <tbody>
                            <%= @sem = Semester.find(a).sem_name %> Semester
                            <% @SemOffering = Offering.where(id: @off).where(semester_id: a) %>
                            <% @SemOffering.each do |o| %>
                                <% @subj = Subject.find(o.subject_id) %>
                                <% @faculty = Faculty.find(o.faculty_id) %>
                                <% if @faculty.f_fname == "TBA" %>
                                    <% @full = "TBA" %>
                                <% else %>
                                    <% @last = @faculty.f_lname.upcase %>
                                    <% @mid = @faculty.f_mname.upcase[0] %>
                                    <% @first = @faculty.f_fname.upcase %>
                                    <% @full = @last + ", " + @first + " " + @mid + "." %>
                                <% end %>
                                <% @sem = Semester.find(o.semester_id).sem_name %>
                                <tr>
                                    <td><%= @subj.subject_code %></td>
                                    <td><%= @subj.subject_title %></td>
                                    <td><%= o.section %></td>
                                    <td><%= @full %></td>
                                </tr>
                            <% end %>
                        <% end %>
                      </tbody>
                    </table>
                    <br>
                <% end %>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
