<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-inbox"></span>Subject Offering
                </li>
            </ol>
            <div class="panel-heading">
                Subject Offerings
            </div>
            <div class="panel-body">
              
            <table id="datatabs" class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center">Subject Code</th>
                  <th>Section</th>
                  <th style="text-align: center">Title</th>
                  <th>Units</th>
                  <th style="text-align: center">Time/Days</th>
                  <th>Room</th>
                  <th style="text-align: center">Teacher</th>
                  <th>Type</th>
                  <th>Available</th>
                </tr>
              </thead>
              <tbody>
              <% @tempday = @tempday1 = @days = @c = @timestart = @timeend = nil %>
              <% if @schedule != nil %>
                <% @schedule.each do |s| %>
                  <% @tempday = s.days.gsub(/[",0]/,'') %>
                  <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                  <% @days = @tempday1.delete(' ') %>
                  <% @timestart = s.time_start.strftime("%I:%M %p") %>
                  <% @c = " - " %>
                  <% @timeend = s.time_end.strftime("%I:%M %p") %>
                  <% if Contpan.first.enforce == true %>
                      <% @offering = Offering.find_by(id: s.offering_id, schoolyear_id: Contpan.first.schoolyear_id) %>
                  <% else %>
                      <% @offering = Offering.find(s.offering_id) %>
                  <% end %>
                  <% @clastype = @id = @section = @unit = @slots = @slots_taken = @faculty = @facultyname = @room = @room_name = @subject = @subj_code = @subj_title = @type = nil %>
                  <% if @offering != nil %>
                      <% @type = Classtype.find(@offering.classtype_id).ctype_name %>
                      <% @id = @offering.id %>
                      <% @section = @offering.section %>
                      <% @unit = @offering.unit %>
                      <% @slots = @offering.slots_available %>
                      <% @slots_taken = @offering.slots_taken %>
                      <% @faculty = Faculty.find(@offering.faculty_id) %>
                      <% if @faculty.f_fname == "TBA" %>
                        <% @facultyname = "TBA" %>
                      <% else %>
                      <% @facultyname = @faculty.f_fname[0] + "." + @faculty.f_mname[0] + ". " + @faculty.f_lname %>
                      <% end %>
                      <% @room = Room.find(@offering.room_id) %>
                      <% @room_name = @room.room_name %>
                      <% @subject = Subject.find(@offering.subject_id) %>
                      <% @subj_code = @subject.subject_code %>
                      <% @subj_title = @subject.subject_title %>
                  <% end %>
                  <tr>
                      <td><%= @subj_code %></td>
                      <td><%= @section %></td>
                      <td><%= @subj_title %></td>
                      <td><%= @unit %></td>
                      <td><%= @timestart %><%= @c %><%= @timeend %> <%= @days %></td>
                      <td><%= @room_name %></td>
                      <td><%= @facultyname %></td>
                      <td><%= @type %></td>
                      <td style="text-align: center"><%= @slots %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>

            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>

