<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-th"></span>Profile
                </li>
            </ol>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-heading custompanel">
                      <h4 class="semibold nm">STUDENT PROFILE</h4>
                    </div>
                    <div class="panel-body"> 
                        <div class="form-group">
                            <div class="col-sm-4">
                                Student ID
                            </div>
                            <div class="col-sm-8">
                                <%= @student.stud_id %>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-sm-4">
                                Name
                            </div>
                            <div class="col-sm-8">
                              <%= @student.s_fname %> <%= @student.s_mname[0] %>. <%= @student.s_lname %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                              Course
                            </div>
                            <% @specialization = Specialization.find(@student.specialization_id) %>
                            <% @program = Program.find(@specialization.program_id) %>
                            <div class="col-sm-8">
                              <%= @program.program_title %>
                            </div>
                        </div>                    
                        <div class="form-group">
                            <div class="col-sm-4">
                              Major
                            </div>
                            <div class="col-sm-8">
                              <%= @specialization.spec_name %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
