$(document).ready( function() {
	$("#retake_subj").html("<%= escape_javascript(render 'students/retake_subj') %>");
	$('#retake_subj').modal('show');
});

$("#submitform").click( function() {
  $( '#retake_subj' ).modal( 'hide' );
});

$('#retake_subj').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
