<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="myModalLabel">Create Offering</h2>
    </div>
      <%= form_for @offering, url: '/offering', :html => {:class => "form-horizontal"} do |f| %>
      <div class="modal-body">

          <div class="alert alert-info" role="alert">
            <b>Note!</b>
            <ul>
              <li> All fields are <b>REQUIRED</b>.</li>
            </ul>
          </div>

          <div class="form-group">
            <%= f.label :subject, "Subject", class: "col-sm-2" %>
            <% @subject = Subject.all %>
            <div class="col-sm-10">
              <%= f.select(:subject_id, @subject.collect {|subject| [@st = subject.subject_code + " - " + subject.subject_title, subject.id ]}, {class: "form-control"}, {id: "select-tag1"}) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :section, "Slots", class: "col-sm-2" %>
            <div class="col-sm-2">
              <%= f.text_field :slots_available, class: "form-control" %>
            </div>

            <%= f.label :section, "Section", class: "col-sm-2" %>
            <div class="col-sm-2">
              <%= f.text_field :section, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :room, "Room", class: "col-sm-2" %>
            <% @room = Room.all %>
            <div class="col-sm-4">
              <%= f.select(:room_id, @room.collect {|room| [room.room_name, room.id]}, {class: "form-control"}, {id: "select-tag2"}) %>
            </div>

            <%= f.label :room, "Teacher", class: "col-sm-2" %>
            <% @room = Faculty.all %>
            <div class="col-sm-4">
              <%= f.select(:faculty_id, @room.collect {|room| [@t = room.f_fname + " " + room.f_mname + " " + room.f_lname, room.id]}, {class: "form-control"}, {id: "select-tag3"}) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :room, "Type", class: "col-sm-2" %>
            <% @room = Classtype.all %>
            <div class="col-sm-4">
              <%= f.select(:classtype_id, @room.collect {|room| [room.ctype_name, room.id]}, {class: "form-control"}, {id: "select-tag4"}) %>
            </div>
          </div>
          <%= f.fields_for :schedules do |schedules| %>
            <%= render 'schedule_fields', :f => schedules %>
            <div class="row">
              <div class="col-sm-3">
                <%= link_to_add_association 'Add Schedule', f, :schedules, :class => 'btn btn-sm btn-success' %>
                </div>
            </div>
          <% end %>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6 col-sm-offset-3">

          <button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Create
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want this subject to be offered?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>

        </div>
      </div>
      <% end %>
  </div>
</div>
