<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Add Subject</h2>
		</div>
			<%= form_for @subject, url: '/subject', :html => {:class => "form-horizontal"} do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :subject_code, "Subject Code", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :subject_code, class: "form-control" %>
					</div>
  				</div>
				<div class="form-group">
					<%= f.label :subject_title, "Subject Title", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :subject_title, class: "form-control" %>
					</div>
  				</div>
 				<div class="form-group">
					<%= f.label :subject_code, "Units", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :units, class: "form-control" %>
					</div>
  				</div>
				<div class="form-group">
					<%= f.label :subjfee, "Default Fee", class: "col-sm-2 control-label" %>
					<% @fee = Fee.all %>
					<div class="col-sm-10">
						<%= f.select(:default_fee, @fee.collect {|fee| [fee.fee_name, fee.id]}, {class: "form-control"}, {id: "select-tag"}) %>
					</div>
				</div>
  			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Create
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to add this subject?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
			<% end %>
	</div>
</div>
