<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">New Semester</h2>
		</div>
			<%= form_for @semester, url: '/semester', :html => {:class => "form-horizontal"} do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :sem_name, "Semester", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :sem_name, class: "form-control" %>
					</div>
  				</div>
  			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Create
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to add this semester?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
			<% end %>
	</div>
</div>
