<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Add Student</h2>
		</div>
			<%= form_for @student, url: '/student', :html => {:class => "form-horizontal"} do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :stud_id, "Student ID", class: "col-sm-2" %>
					<div class="col-sm-10">
						<%= f.text_field :stud_id, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :name, "Name", class: "col-sm-2" %>
					<div class="col-sm-4">
						<%= f.text_field :s_fname, class: "form-control", placeholder: 'First Name' %>
					</div>
					<div class="col-sm-3">
						<%= f.text_field :s_mname, class: "form-control", placeholder: 'Middle Name' %>
					</div>
					<div class="col-sm-3">
						<%= f.text_field :s_lname, class: "form-control", placeholder: 'Last Name' %>
					</div>
  				</div>
  				<div class="form-group">
  					<%= f.label :gendertitle, "Gender", class: "col-sm-2" %>
  					<div class="col-sm-5">
	  					<%= f.radio_button :gender, "Male",:checked => true %>
	  					<%= f.label :gender, "Male"%>
  					</div>
  					<div class="col-sm-5">
	  					<%= f.radio_button :gender, "Female", :checked => true %>
	  					<%= f.label :gender, "Female" %>
  					</div>
  				</div>
					<div class="form-group">
	          <%= f.label :spec_label, "Track", class: "col-sm-2" %>
	          <% @specialization = Specialization.all %>
	          <div class="col-sm-10 selectContainer">
	            <%= f.select(:specialization_id, @specialization.collect { |specialization| [@p = specialization.spec_name + "-" + Program.find(specialization.program_id).program_title, specialization.id]}, {class: "form-control"}, {id: "select-tag2"}) %>
	          </div>
	        </div>
					<div class="form-group">
						<%= f.label :curriculum, "Curriculum Type", class: "col-sm-2" %>
  					<% @curriculum = Curriculum.all %>
  					<div class="col-sm-4">
							<%= f.select(:curriculum_id, @curriculum.collect { |curriculum| [curriculum.curr_type, curriculum.id] }, {class: "form-control"}, {id: "select-tag3"}) %>
  					</div>

						<%= f.label :year, "Year", class: "col-sm-2" %>
  					<div class="col-sm-4">
						<%= f.select(:year, @yr.collect { |program| [program, program] }, {class: "form-control"}, {id: "select-tag1"}) %>
  					</div>
  				</div>
  			</div>
				<div class="modal-footer">
					<div class="col-sm-6 col-sm-offset-3">

						<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
							Create
						</button>

						<div class="modal fade" id="promptSubmit" role="dialog">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-body">
											<div class="row">
												<div class="col-md-8">
													<p>Are you sure you want to add this student?</p>
												</div>
												<div class="col-md-4">
													<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
													<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
												</div>
											</div>
						        </div>
						      </div>
						    </div>
						</div>

					</div>
				</div>
			<% end %>
	</div>
</div>
