<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Retake Subjects</h2>
		</div>
			<%= form_for(@compexam, url: create_retake_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :room_name, "Student ID", class: "col-sm-2" %>
					<div class="col-sm-10">
						<div class="">
							<%= @student.stud_id %>
						</div>
					</div>
  				</div>
				<div class="form-group">
					<%= f.label :room_name, "Name", class: "col-sm-2" %>
					<div class="col-sm-10">
						<div class="">
							<%= @student.s_fname %> <%= @student.s_mname[0] %>. <%= @student.s_lname %>
						</div>
					</div>
  				</div>
				<div class="form-group">
					<%= f.label :room_name, "Subjects Failed", class: "col-sm-2" %>
					<div class="col-sm-10">
						<% @subj.each do |s| %>
							<% @off = Offering.find(s.offering_id) %>
							<% @subject = Subject.find(@off.subject_id) %>
							<div class="">
								<%= @subject.subject_code %> - <%= @subject.subject_title %>
							</div>
						<% end %>
					</div>
  				</div>
				<div class="form-group">
					<%= f.label :room_name, "OR_NO", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :or_no, class: "form-control" %>
					</div>
  				</div>  
				<div class="form-group">
					<%= f.label :room_name, "Amount", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :amount, class: "form-control" %>
					</div>
  				</div>  								
  			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">
					<%= f.submit "Submit", class: "btn btn-default btn-primary btn-block", :id => "submitform" %>
				</div>
			</div>
			<% end %>
	</div>
</div>
