<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">New Faculty</h2>
		</div>
			<%= form_for @faculty, url: '/faculty', :html => {:class => "form-horizontal"} do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :f_id, "Faculty ID", class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :f_id, class: "form-control" %>
					</div>
  				</div>
  				<div class="form-group">
					<%= f.label :name, "Name", class: "col-sm-2" %>
					<div class="col-sm-4">
					<%= f.text_field :f_fname, class: "form-control", placeholder: "First Name" %>
					</div>
					<div class="col-sm-3">
					<%= f.text_field :f_mname, class: "form-control", placeholder: "Middle Name" %>
					</div>
					<div class="col-sm-3">
					<%= f.text_field :f_lname, class: "form-control", placeholder: "Last name" %>
					</div>
  				</div>
  				<div class="form-group">
  					<%= f.label :type, "Faculty Type", class: "col-sm-2" %>
  					<div class="col-sm-10">
						<%= f.select(:f_type, @status.collect { |program| [program, program] }, {class: "form-control"}, {id: "select-tag"}) %>	
  					</div>
  				</div>
  				<div class="form-group">
  					<%= f.label :degree, "Degree", class: "col-sm-2" %>
  					<div class="col-sm-10">
  						<%= f.text_field :degree, class: "form-control" %>
  					</div>
  				</div>
  			</div>
				<div class="modal-footer">
					<div class="col-sm-6 col-sm-offset-3">

						<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
							Create
						</button>

						<div class="modal fade" id="promptSubmit" role="dialog">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-body">
											<div class="row">
												<div class="col-md-8">
													<p>Are you sure you want to add this faculty?</p>
												</div>
												<div class="col-md-4">
													<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
													<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
												</div>
											</div>
						        </div>
						      </div>
						    </div>
						</div>

					</div>
				</div>
			<% end %>
	</div>
</div>
