<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Schedule</h2>
		</div>
			<%= form_for @tempsched, url: '/tempsched', :html => {:class => "form-horizontal"} do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :t_start, class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :t_start, class: "form-control" %>
					</div>
  				</div>
				<div class="form-group">
					<%= f.label :t_end, class: "col-sm-2" %>
					<div class="col-sm-10">
					<%= f.text_field :t_end, class: "form-control" %>
					</div>
  				</div>

  				<div class="form-group">
  					<%= f.label :t_days, "Days", class: "col-sm-2" %>
					<div class="col-sm-10" id="check_box">
					<div>
  					<%= f.label :t_days, "M" %>
  					<%= f.check_box :t_days, {:multiple => "true"}, "M"%>
					</div>
					<div>
  					<%= f.label :t_days, "T"%>
  					<%= f.check_box :t_days, {:multiple => "true"}, "T" %>
					</div>
					<div>
  					<%= f.label :t_days, "W" %>
  					<%= f.check_box :t_days, {:multiple => "true"}, "W" %>
					</div>
					<div>
  					<%= f.label :t_days, "Th" %>
  					<%= f.check_box :t_days, {:multiple => "true"}, "Th" %>
					</div>
					<div>
  					<%= f.label :t_days, "F" %>
  					<%= f.check_box :t_days, {:multiple => "true"}, "F" %>
					</div>
					<div>
  					<%= f.label :t_days, "Sat" %>
  					<%= f.check_box :t_days, {:multiple => "true"}, "Sat" %>
					</div>
					<div>
  					<%= f.label :t_days, "Sun" %>
  					<%= f.check_box :t_days, {:multiple => "true"}, "Sun" %>
					</div>
					</div>
  				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">
					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Create
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to add this schedule?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
			<% end %>
	</div>
</div>
