<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Comprehensive Exam Subject</h2>
		</div>
		<%= form_for(@compexamsubj, :url => update_compexamsubj_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :f, "Subject/Faculty/Semester/Schoolyear: ", class: "col-sm-2" %>
					<% @offering = Offering.where(id: @container2) %>
					<div class="col-sm-10">
            <%= f.select(:offering_id, @offering.collect{|off| [@st = Subject.find(off.subject_id).subject_code + "-" + Subject.find(off.subject_id).subject_title + ", " + Faculty.find(off.faculty_id).f_fname + " " + Faculty.find(off.faculty_id).f_mname + " " + Faculty.find(off.faculty_id).f_lname + ", " + Semester.find(off.semester_id).sem_name + " Sem, " + Schoolyear.find(off.schoolyear_id).startyr.to_s + "-" + Schoolyear.find(off.schoolyear_id).endyear.to_s, off.id]}, {class: "form-control"}, {id: "select-tag"}) %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :date, "Examiner", class: "col-sm-2 control-label" %>
					<% @examiner = Faculty.where.not(f_fname: "TBA") %>
					<div class="col-sm-10">
						<%= f.select(:examiner, @examiner.collect{|exam| [@st = exam.f_fname[0] + "." + exam.f_mname[0] + "." + exam.f_lname, exam.id]}, {class: "form-control"}, {id: "select-tag2"}) %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :date, "Scheduled Date", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.date_field :sched_date, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :da, "Time", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.time_field :sched_time , class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :date, "Date Taken", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.date_field :datetaken, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :pass, "Verdict", class: "col-sm-2 control-label" %>
					<div class="col-sm-5">
						<%= f.label :pa, "Pass" %>
						<%= f.radio_button :passed, "1" %>
					</div>
					<div class="col-sm-5">
						<%= f.label :fail, "Fail" %>
						<%= f.radio_button :passed, "0" %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update the result?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-sm btn-success", id: "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
