<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Settings</h2>
		</div>
		<%= form_for(@contpan, :url => update_contpan_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :site, "Site Title", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :site_name, class: "form-control", placeholder: "Up to 35 characters only" %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
					<%= f.label :sy, "School Year", class: "col-sm-2 control-label" %>
					</div>
					<% @sy = Schoolyear.all %>
					<div class="col-sm-3">
							<%= f.select(:schoolyear_id, @sy.collect {|subject| [@st = subject.startyr.to_s + " - " + subject.endyear.to_s, subject.id ]}, {class: "form-control"}) %>
					</div>

					<div class="col-sm-2">
					<%= f.label :sem, "Semester", class: "col-sm-2 control-label" %>
					</div>
					<% @sem = Semester.all %>
					<div class="col-sm-3">
							<%= f.select(:semester_id, @sem.collect {|s| [@st = s.sem_name, s.id ]}, {class: "form-control"}) %>
					</div>

				</div>
				<div class="form-group">
					<%= f.label :college, "College", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :college, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :dept, "Department", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :department, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :name, "Coordinator's Full Name", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_field :full_name, class: "form-control" %>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update this settings?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
