<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Customize</h2>
		</div>
		<%= form_for(@appearance, :url => update_appearance_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :ctype_name, "Primary Color", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.color_field :color, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :ctype_name, "Secondary Color", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.color_field :sec_color, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<% @image = Appearance.first %>
                  	<%= image_tag(@image.image_url.to_s, :size => "150x150", :class => 'img-circle center-block') %>
				</div>				
				<div class="form-group">
					<%= f.label :ctype_name, "Logo", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.file_field :image, class: "form-control" %>
					</div>
				</div>				
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update this settings?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
