<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Tuition Fee Discount</h2>
		</div>
		<%= form_for(@history, :url => update_tfeediscount_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :discount, "Discount", class: "col-sm-2 control-label" %>
					<% @discount = Discount.all %>
					<div class="col-sm-10">
						<%= f.select(:discount_id, @discount.collect {|disc| [@st = disc.disc_name, disc.id]}, {class: "form-control"}, {id: "select-tag"}) %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update this class tuition fee discount?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
