<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Student</h2>
		</div>
		<%= form_for(@student, :url => update_student_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :studentid, "Student ID", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :stud_id, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :namelabel, "Name", class: "col-sm-2" %>
					<div class="col-sm-4">
						<%= f.text_field :s_fname, class: "form-control", placeholder: "First Name" %>
					</div>
					<div class="col-sm-3">
						<%= f.text_field :s_mname, class: "form-control", placeholder: "Middle Name" %>
					</div>
					<div class="col-sm-3">
						<%= f.text_field :s_lname, class: "form-control", placeholder: "Last Name" %>
					</div>
				</div>

				<div class="form-group">
  				<%= f.label :gendertitle, "Gender", class: "col-sm-2" %>
  				<div class="col-sm-5">
	  				<%= f.radio_button :gender, "Male",:checked => true %>
	  				<%= f.label :gender, "Male"%>
  				</div>
  				<div class="col-sm-5">
	  				<%= f.radio_button :gender, "Female", :checked => true %>
	  				<%= f.label :gender, "Female" %>
  				</div>
  			</div>
				<div class="form-group">
					<%= f.label :spec_label, "Specialization", class: "col-sm-2" %>
					<% @specialization = Specialization.all %>
					<div class="col-sm-10">
						<%= f.select(:specialization_id, @specialization.collect { |specialization| [specialization.spec_name, specialization.id]}, {class: "form-control"}, {id: "select-tag2"}) %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :curriculum, "Curriculum Type", class: "col-sm-2" %>
					<% @curriculum = Curriculum.all %>
					<div class="col-sm-4">
						<%= f.select(:curriculum_id, @curriculum.collect { |curriculum| [curriculum.curr_type, curriculum.id] }, {class: "form-control"}, {id: "select-tag3"}) %>
					</div>

  			</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update this student?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
