<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Comprehensive Exam</h2>
		</div>
		<%= form_for(@compexam, :url => update_compexam_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">				
				<div class="form-group">
					<%= f.label :date, "Scheduled Date", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :student_id, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :date, "Scheduled Dates", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.date_field :date_applied, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :da, "Time", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :subjtotake , class: "form-control" %>
					</div>
				</div>	
				<div class="form-group">
					<%= f.label :date, "Date Taken", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :subjtopass, class: "form-control" %>
					</div>
				</div>																		
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">
					<%= f.submit "Update", class: "btn btn-default btn-primary btn-block", :id => "submitform" %>
				</div>
			</div>
		<% end %>
	</div>
</div>