<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Edit Specialization</h2>
		</div>
		<%= form_for(@specialization, :url => update_specialization_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :spec_name, "Specialization", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= f.text_field :spec_name, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :program_id, class: "col-sm-2" %>
					<% @program = Program.all %>
						<div class="col-sm-10">
						<%= f.select(:program_id, @program.collect { |program| [program.program_title, program.id] }, {class: "form-control"}, {id: "select-tag"}) %>
						</div>
  				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update this specialization?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-success btn-sm", :id => "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
