<div class="nested-fields">
          <div class="form-group">
                  <%= f.label :time_start, "Time Start", class: "col-sm-2" %>
                  <div class="col-sm-4">
                  <%= f.time_field :time_start, class: "form-control" %>
                  </div>

                  <%= f.label :time_end, "Time End", class: "col-sm-2" %>
                  <div class="col-sm-4">
                    <%= f.time_field :time_end, class: "form-control" %>
                  </div>
          </div>
          <div class="form-group">
              <%= f.label :days, "Days", class: "col-sm-2" %>
              <div class="col-sm-10" id="check_box">
                  <div>
                      <%= f.label :days, "M" %>
                      <%= f.check_box :days, {:multiple => "true"}, "M" %>
                  </div>
                  <div>
                      <%= f.label :days, "T" %>
                      <%= f.check_box :days, {:multiple => "true"}, "T" %>
                  </div>
                  <div>
                      <%= f.label :days, "W" %>
                      <%= f.check_box :days, {:multiple => "true"}, "W" %>
                  </div>
                  <div>
                      <%= f.label :days, "Th" %>
                      <%= f.check_box :days, {:multiple => "true"}, "Th" %>
                  </div>
                  <div>
                      <%= f.label :days, "F" %>
                      <%= f.check_box :days, {:multiple => "true"}, "F" %>
                  </div>
                  <div>
                      <%= f.label :days, "Sat" %>
                      <%= f.check_box :days, {:multiple => "true"}, "Sat" %>
                  </div>
                   <div>
                      <%= f.label :days, "Sun" %>
                      <%= f.check_box :days, {:multiple => "true"}, "Sun" %>
                  </div>
              </div>
          </div>
          <%= link_to_remove_association "Remove Schedule", f, :class => 'btn btn-warning btn-sm' %>
</div>