$(document).ready( function() {
	$("#add_room").html("<%= escape_javascript(render 'coordinators/add_room') %>");
	$('#add_room').modal('show');
});

$("#submitform").click( function() {
  $( '#add_room' ).modal( 'hide' );
});

$('#add_room').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
