$(document).ready( function() {
	$("#add_specialization").html("<%= escape_javascript(render 'coordinators/add_specialization') %>");
	$('#add_specialization').modal('show');

	$("#select-tag").select2({
		placeholder: "Select a program",
		allowClear: true,
		width: "100%"
  });
});

$("#submitform").click( function() {
  $( '#add_specialization' ).modal( 'hide' );
});

$('#add_specialization').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
