$(document).ready( function() {
	$("#add_program").html("<%= escape_javascript(render 'coordinators/add_program') %>");
	$('#add_program').modal('show');
});

$("#submitform").click( function() {
  $( '#add_program' ).modal( 'hide' );
});

$('#add_program').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
