$(document).ready( function() {
	$("#add_fee").html("<%= escape_javascript(render 'coordinators/add_fee') %>");
	$('#add_fee').modal('show');
});

$("#submitform").click( function() {
  $( '#add_fee' ).modal( 'hide' );
});

$('#add_fee').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
