$(document).ready( function() {
	$("#add_schoolyear").html("<%= escape_javascript(render 'coordinators/add_schoolyear') %>");
	$('#add_schoolyear').modal('show');
});

$("#submitform").click( function() {
  $( '#add_schoolyear' ).modal( 'hide' );
});

$('#add_schoolyear').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);', 1000);
})
