$(document).ready( function() {
	$("#add_offering").html("<%= escape_javascript(render 'coordinators/add_offering') %>");
	$('#add_offering').modal('show');

	$("#select-tag1").select2({
    placeholder: "Select a subject",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag2").select2({
		placeholder: "Select a room",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag3").select2({
		placeholder: "Select a teacher",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag4").select2({
		placeholder: "Select class type",
		allowClear: true,
		width: "95%"
  });
});


$('#add_offering').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
