$(document).ready( function() {
	$("#add_tempsched").html("<%= escape_javascript(render 'coordinators/add_tempsched') %>");
	$('#add_tempsched').modal('show');
});

$("#submitform").click( function() {
  $( '#add_tempsched' ).modal( 'hide' );
});
