$(document).ready( function() {
	$("#add_semester").html("<%= escape_javascript(render 'coordinators/add_semester') %>");
	$('#add_semester').modal('show');
});

$("#submitform").click( function() {
  $( '#add_semester' ).modal( 'hide' );
});

$('#add_semester').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
