$(document).ready( function() {
	$("#add_student").html("<%= escape_javascript(render 'coordinators/add_student') %>");
	$('#add_student').modal('show');

	$("#select-tag1").select2({
		placeholder: "Select a year level",
		allowClear: true,
		width: "150"
  });

	$("#select-tag2").select2({
		placeholder: "Select a track",
		allowClear: true,
		width: "100%"
  });

	$("#select-tag3").select2({
		placeholder: "Select a curriculum",
		allowClear: true,
		width: "150"
  });
});

$("#submitform").click( function() {
  $( '#add_student' ).modal( 'hide' );
});

$('#add_student').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);', 1000);
})
