$(document).ready( function() {
	$("#add_faculty").html("<%= escape_javascript(render 'coordinators/add_faculty') %>");
	$('#add_faculty').modal('show');

	$("#select-tag").select2({
    minimumResultsForSearch: -1,
		width: "200"
  });
});

$("#submitform").click( function() {
  $( '#add_faculty' ).modal( 'hide' );
});

$('#add_faculty').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
