$(document).ready( function() {
	$("#add_appearance").html("<%= escape_javascript(render 'coordinators/add_appearance') %>");
	$('#add_appearance').modal('show');
});

$("#submitform").click( function() {
  $( '#add_appearance' ).modal( 'hide' );
});

$('#add_appearance').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
