$(document).ready( function() {
	$("#add_retake").html("<%= escape_javascript(render 'coordinators/add_retake') %>");
	$('#add_retake').modal('show');
});

$("#submitform").click( function() {
  $( '#add_retake' ).modal( 'hide' );
});

$('#add_retake').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
