$(document).ready( function() {
	$("#add_classtype").html("<%= escape_javascript(render 'coordinators/add_classtype') %>");
	$('#add_classtype').modal('show');
});

$("#submitform").click( function() {
  $( '#add_classtype' ).modal( 'hide' );
});

$('#add_classtype').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
