<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
          <h1></h1>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Programs
                </li>
            </ol>
            <%= form_for @program, url: '/programs', :html => {:class => "form-horizontal"} do |f| %>
			<div class="form-group">
				<%= f.label :program_title, class: "col-sm-2" %>
				<div class="col-sm-10">
				<%= f.text_field :program_title, class: "form-control" %>
				</div>
  			</div>
  			<%= f.submit "Create Program", class: "btn btn-default btn-primary btn-block"%>	
  			<% end %>
        </div>
    </div>
</div>
