$(document).ready( function() {
	$("#add_discount").html("<%= escape_javascript(render 'coordinators/add_discount') %>");
	$('#add_discount').modal('show');
});

$("#submitform").click( function() {
  $( '#add_discount' ).modal( 'hide' );
});

$('#add_discount').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
