$(document).ready( function() {
	$("#add_subject").html("<%= escape_javascript(render 'coordinators/add_subject') %>");
	$('#add_subject').modal('show');

	$("#select-tag").select2({
		placeholder: "Select default fee",
		allowClear: true,
		width: "100%"
  });
});

$("#submitform").click( function() {
  $( '#add_subject' ).modal( 'hide' );
});

$('#add_subject').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
