$(document).ready( function() {
	$("#add_curriculum").html("<%= escape_javascript(render 'coordinators/add_curriculum') %>");
	$('#add_curriculum').modal('show');
});

$("#submitform").click( function() {
  $( '#add_curriculum' ).modal( 'hide' );
});

$('#add_curriculum').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
