<div id="page-wrapper">
    <div class="row">
      <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="fa fa-cog"></span> Settings
                </li>
            </ol>
  <div class="row">
      <div class="col-md-9">
          <div class="panel-heading custompanel">
            <h4 class="semibold nm">SITE APPEARANCE</h4>
          </div>
          <div class="panel-body">
              <% form_for(@appearance, url: 'coordinators/appearance') do |f| %>
              <div class="form-group">
                  <div class="col-sm-2">
                    Navbar Color
                  </div>
                  <div class="col-sm-10">
                    <%= f.color_field :color, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <%= f.text_field :color, class: "form-control" %>
                </div>
              </div>
              <% end %>  
          </div>
      </div>
  </div>
</div>
</div>


</div>
<div id="edit_contpan" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
