<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-inbox"></span>Class Lists
                </li>
            </ol>
            <div class="panel-heading">
              <div class="row">
              <div class="col-xs-4">
                  <h3 class="panel-title offering">
                    <span class="panel-icon mr5"></span>
                    <span class="hidden-xs">
                      <b></b>
                    </span>
                    <b>
                        <span class="hidden-xs">ALL SUBJECT OFFERINGS</span>
                    </b>
                  </h3>
              </div>
              <div class="col-xs-4">
              </div>
              <div class="col-xs-4">
              </div>
              </div>
            </div>
            <div class="panel-body">
              <table id="datatabs" class="table table-striped">
                <thead>
                  <tr>
                    <th style="text-align: center">Subject Code</th>
                    <th>Section</th>
                    <th style="text-align: center; width: 15%">Title</th>
                    <th>Units</th>
                    <th style="text-align: center" >Time/Days</th>
                    <th>Room</th>
                    <th>Teacher</th>
                    <th>Type</th>
                    <th>Class Size</th>
                    <th style="text-align: center"></th>
                  </tr>
                </thead>
                <tbody>
                <% @tempday = @tempday1 = @days = @c = @timestart = @timeend = nil %>
                <% if @schedule != nil %>
                  <% @schedule.each do |s| %>
                    <% @tempday = s.days.gsub(/[",0]/,'') %>
                    <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                    <% @days = @tempday1.delete(' ') %>
                    <% @timestart = s.time_start.strftime("%I:%M %p") %>
                    <% @c = " - " %>
                    <% @timeend = s.time_end.strftime("%I:%M %p") %>
                    <% @offering = Offering.find(s.offering_id) %>
                    <% @subj_code = Subject.find(@offering.subject_id).subject_code %>
                    <% @subj_title = Subject.find(@offering.subject_id).subject_title %>
                    <% @room_name = Room.find(@offering.room_id).room_name %>
                    <% @type = Classtype.find(@offering.classtype_id).ctype_name %>
                    <% if Faculty.find(@offering.faculty_id).f_fname != "TBA" %>
                      <% if Faculty.find(@offering.faculty_id).f_mname == ""%>
                        <% @fname = Faculty.find(@offering.faculty_id).f_fname[0] %>
                        <% @lname = Faculty.find(@offering.faculty_id).f_lname %>
                        <% @fullname = @fname + " " + @lname %>
                      <% else %>
                        <% @fname = Faculty.find(@offering.faculty_id).f_fname[0] %>
                        <% @lname = Faculty.find(@offering.faculty_id).f_lname %>
                        <% @mname = Faculty.find(@offering.faculty_id).f_mname[0] %>
                        <% @fullname = @fname + " " + @mname + ". " + @lname %>
                      <% end %>
                    <% else %>
                        <% @fullname = "TBA" %>
                    <% end %>
                    <tr>
                        <td><%= @subj_code %></td>
                        <td><%= @offering.section %></td>
                        <td><%= @subj_title %></td>
                        <td><%= @offering.unit %></td>
                        <td><%= @timestart %><%= @c %><%= @timeend %> <%= @days %></td>
                        <td><%= @room_name %></td>
                        <td><%= @fullname %></td>
                        <td><%= @type %></td>
                        <td style="text-align: center"><%= @offering.slots_taken %></td>
                        <td>
                          <div class="row">
                            <div class="col-sm-4">
                              <a class="btn btn-info btn-sm" href="/coordinators/offering/<%= @offering.id %>">
                                <span class="glyphicon glyphicon-eye-open"></span>
                              </a>
                            </div>
                            <!--
                            <div class="col-sm-4">
                              <%= link_to edit_offering_path(:id => @offering.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_offering', :class => 'btn btn-warning btn-sm'} do %>
                                  <span class="glyphicon glyphicon-pencil"></span>
                              <% end %>
                            </div>
                            <div class="col-sm-4">
                              <a class= "btn btn-danger btn-sm" href="/coordinators/offering/<%= @id %>/delete">
                                <span class="glyphicon glyphicon-remove"></span>
                              </a>  
                            </div>
                            -->
                            </div>                      
                        </td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_offering" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_offering" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
