<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-th"></span>Class Types
                </li>
            </ol>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Class Types
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                    <%= link_to add_classtype_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_classtype', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Class Type must have atleast <b>5 characters</b>.</li>
                    <li> Class Type only accepts <b>letters and numbers</b>.</li>
                    <li> Maximum must be greater than or equal to Minimum.</li>
                    <li> Class Type may already be taken.</li>
                  </ul>
                </div>
              <% end %>

            <table class="table display table-bordered">
              <thead>
                <tr>
                  <th>Class Type</th>
                  <th style="text-align: center">Student Range</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @classtype.each do |c| %>
                <tr>
                    <td><%= c.ctype_name %></td>
                    <td style="text-align: center">
                        <% if c.ctype_count == c.countmax %>
                            <%= c.ctype_count %>
                        <% else %>
                            <%= c.ctype_count %>-<%= c.countmax %>
                        <% end %>
                    </td>
                    <td>
                      <div class="row">
                          <div class="col-sm-6">
                            <%= link_to edit_classtype_path(:id => c.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_classtype', :class => 'btn btn-warning btn-sm'} do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                          </div>
                          <div class="col-sm-6">
                            <a href="/coordinators/classtype/<%= c.id %>/delete" class="btn btn-danger btn-sm" data-confirm="Are you sure?">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_classtype" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_classtype" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
