<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-check"></span>Comprehensive Exam- Select Student to Apply
                </li>
            </ol>
            <center>
            </center>
            <div class="panel-heading">
                Eligible Students for Comprehensive Exam
            </div>
            <div class="panel-body">
            <table class="table table-bordered" id="datatabs">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th style="text-align: center">NAME</th>
                  <th style="text-align: center">COURSE</th>
                  <th>Subjects</th>
                  <th>Attempts</th>
                  <th>Recent Result</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <% @students.each do |s| %>
                    <% @app = Compexam.where(student_id: s.id).count %>
                    <% @program = Program.find(Specialization.find(s.specialization_id).program_id) %>
                    <% @tempArr = Array.new %>
                    <% @history = History.where(student_id: s.id) %>
                    <% @history.each do |h| %>
                       <% @tempArr << h.id %>
                    <% end %>
                    <% @recordlog = Recordlog.where(history_id: @tempArr).count %>
                    <% @compexam = Compexam.where(student_id: s.id) %>
                    <% if @compexam.count == 0 %>
                      <% @ver = "N/A" %>
                    <% else %>
                      <% @temp = @compexam.last %>
                      <% @tsubj = Compexamsubj.where(compexam_id: @temp.id).where(passed: true).count %>
                      <% @tsubj2 = Compexamsubj.where(compexam_id: @temp.id).where(passed: false).count %>
                      <% @tsubj3 = Compexamsubj.where(compexam_id: @temp.id).where(passed: nil).count %>
                      <% if @tsubj3 > 0 %>
                        <% @ver = "PENDING" %>
                      <% elsif @tsubj >= @temp.subjtopass %>
                        <% @ver = "PASSED" %>
                      <% elsif @tsubj2 >= (@temp.subjtotake - @temp.subjtopass) %>
                        <% @ver = "FAILED" %>
                      <% end %>
                    <% end %>
                    <tr>
                        <td><%= s.stud_id %></td>
                        <td>
                          <%= s.s_lname %><%= ", " %><%= s.s_fname %> <%= s.s_lname %>
                        </td>
                        <td><%= @program.program_title %></td>
                        <td><%= @recordlog %></td>
                        <td><%= @compexam.count %></td>
                        <td>
                            <% if @compexam.count == 0 %>
                              <span class="label label-primary">New</span>
                            <% elsif @ver == "PASSED" %>
                              <span class="label label-success">Passed</span>
                            <% elsif @ver == "FAILED" %>
                              <span class="label label-danger">Failed</span>
                            <% elsif @ver == "PENDING" %>
                              <span class="label label-warning">Pending</span>
                            <% end %>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                  <% if Compexam.where(student_id: s.id).count > 0 %>
                                    <a class="btn btn-success btn-sm disabled" href="/coordinators/compexam/apply/<%= s.id %>">
                                        Apply
                                    </a>  
                                  <% else %>
                                    <a class="btn btn-success btn-sm" href="/coordinators/compexam/apply/<%= s.id %>">
                                        Apply
                                    </a>                                  
                                  <% end %>
                                </div>
                                <div class="col-sm-4">
                                  <% if @app > 0 %>
                                    <a class="btn btn-info btn-sm" href="/coordinators/compexam/student_exams/<%= s.id %>">
                                        View Applications
                                    </a>
                                  <% else %>
                                    <a class="btn btn-info btn-sm disabled" href="/coordinators/compexam/student_exams/<%= s.id %>">
                                         View Applications
                                    </a>
                                  <% end %>
                                </div>
                            </div>
                        </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
