<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-check"></span>Comprehensive Exam Applications
                </li>
            </ol>
            <center>
            </center>
            <div class="panel-heading">
                Comprehensive Exam Applications
            </div>
            <div class="panel-body">
              <table id="datatabs" class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Student ID</th>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Course</th>
                    <th>OR #</th>
                    <th>Amount </th>
                    <th>Score</th>
                    <th>Passing</th>
                    <th>Date/Time Submitted</th>
                    <th>Result</th>
                    <th style="text-align: center; width: 15%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @count = 0 %>
                  <% @compexam.each do |c| %>
                    <% @student = Student.find(c.student_id) %>
                    <% @program = Program.find(Specialization.find(@student.specialization_id).program_id) %>
                    <% @q = Compexamsubj.where(compexam_id: c.id).where(passed: true).count %>
                    <% @r = Compexamsubj.where(compexam_id: c.id).where(passed: false).count %>
                    <% @tk = c.subjtotake %>
                    <% @tp = c.subjtopass %>
                    <% @ver %>
                    <% @time = c.date_applied.strftime("%I:%M %p") %>
                    <% if Compexamsubj.where(compexam_id: c.id).where(passed: nil).count > 0%>
                        <% @ver = "N/A" %>
                    <% elsif @q >= c.subjtopass %>
                          <% @ver = "PASSED" %>
                    <% elsif @r >= (@tk - @tp) %>
                          <% @ver = "FAILED" %>
                    <% end %>
                    <% @date = c.date_applied %>
                    <tr>
                      <td><%= @count = @count + 1 %></td>
                      <td><%= @student.stud_id %></td>
                      <td><%= @student.s_lname %><%=", "%><%= @student.s_fname %> <%= @student.s_mname %></td>
                      <td ><%=@program.program_title %></td>
                      <td><%= c.or_no %></td>
                      <td style="text-align: center"><%= c.amount %></td>
                      <td style="text-align: center"><%= @q %>/<%= c.subjtotake %></td>
                      <td style="text-align: center"><%= c.subjtopass %></td>
                      <td><%= @date.strftime("%B") %> <%= @date.strftime("%d") %>, <%= @date.strftime("%Y") %>,<%= @time %></td>
                      <td>
                          <% if @ver == "PASSED" %>
                              <span class="label label-success">Passed</span>
                          <% elsif @ver == "FAILED" %>
                              <span class="label label-danger">Failed</span>
                          <% else %>
                              <span class="label label-warning">Pending</span>
                          <% end %>
                      </td>
                      <td>
                          <div class="row">
                            <% @tempCompexam = Compexam.find(c.id) %>
                            <% @temp = Compexam.where(student_id: @tempCompexam.student_id).last.id %>

                            <div class="col-sm-3"> 
                              <% if @ver == "FAILED" && @temp == c.id %>
                                  <%= button_to('RETAKE', add_retake_path(:id => c.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_retake', method: 'get', :class => 'btn btn-sm btn-success'}) %>
                              <% else %>
                                  <%= button_to('RETAKE', add_retake_path(:id => c.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_retake', method: 'get', :class => 'btn btn-sm btn-success', :disabled => true}) %>
                              <% end %>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3">  
                              <a class="btn btn-sm btn-info" href="/coordinators/compexam/student_exam/exam_details/<%= c.id %>">
                                <span class="glyphicon glyphicon-eye-open"></span>
                              </a>
                            </div>
                          </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_retake" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>