<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Curriculum Types
                </li>
            </ol>
            <h4>Curriculum</h4>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Curruculum Types
                  </div>
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4">
                    <%= link_to add_curriculum_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_curriculum', method: 'get', :class => 'btn btn-sm btn-success pull-right  '} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                  <div class="col-xs-4">
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Input must have <b>atleast 4 characters</b>.</li>
                    <li> Input only accepts <b>letters and numbers</b>.</li>
                  </ul>
                </div>
              <% end %>


            <table class="table display table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center">Curriculum Type</th>
                  <th style="width: 17%"></th>
                </tr>
              </thead>
              <tbody>
                <% @curriculum.each do |c| %>
                <tr>
                    <td><%= c.curr_type %></td>
                    <td>
                        <div class="row">
                          <div class="col-sm-4">
                          <%= link_to edit_curriculum_path(:id => c.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_curriculum', :class => "btn btn-sm btn-warning"} do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                          <% end %>
                          </div>
                          <div class="col-sm-4">
                            <a href="/coordinators/curriculum/<%= c.id %>/delete" class="btn btn-sm btn-danger" data-confirm="Are you sure?">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_curriculum" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_curriculum" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
