<div id="page-wrapper">
    <div class="row">
      <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
            </ol>
        <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="panel panel-gold">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 20pt">Activities</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" data-toggle="collapse" data-target="#activities">
                        <span class="pull-left">View</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="panel-collapse collapse" id="activities" >
                    <ul class="list-group">
                      <li class="list-group-item"><a href="/coordinators/compexamapps">Comprehensive Exam</a></li>
                      <li class="list-group-item"><a href="/coordinators/enlist">Enlist</a></li>
                      <li class="list-group-item"><a href="/coordinators/offering">Plot Subject Offering</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-gold">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 18pt">People</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" data-toggle="collapse" data-target="#people">
                        <span class="pull-left">View</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="panel-collapse collapse" id="people" >
                    <ul class="list-group">
                      <li class="list-group-item"><a href="/coordinators/faculty">Faculty</a></li>
                      <li class="list-group-item"><a href="/coordinators/student">Students</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-gold">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 18pt">Programs</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" data-toggle="collapse" data-target="#programs">
                        <span class="pull-left">View</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="panel-collapse collapse" id="programs" >
                    <ul class="list-group">
                      <li class="list-group-item"><a href="/coordinators/programs">Programs</a></li>
                      <li class="list-group-item"><a href="/coordinators/specialization">Specializations</a></li>
                      <li class="list-group-item"><a href="/coordinators/subject">Subjects</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-gold">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-university fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 18pt">Graduate School</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" data-toggle="collapse" data-target="#grad">
                        <span class="pull-left">View</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="panel-collapse collapse" id="grad" >
                    <ul class="list-group">
                      <li class="list-group-item"><a href="/coordinators/curriculum">Curriculum</a></li>
                      <li class="list-group-item"><a href="/coordinators/classtype">Class Types</a></li>
                      <li class="list-group-item"><a href="/coordinators/discount">Discounts</a></li>
                      <li class="list-group-item"><a href="/coordinators/fee">Fees</a></li>
                      <li class="list-group-item"><a href="/coordinators/room">Rooms</a></li>
                    </ul>
                <div class="col-md-3">
                    <!-- <%= image_tag(@appimage.image_url.to_s, :size => "150x150") %> -->
                </div>
            </div>
        </div>
      </div>
