<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Discounts
                </li>
            </ol>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Discounts
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                    <%= link_to add_discount_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_discount', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="panel-body">

                <% flash.each do |name, msg| %>
                  <div class="alert alert-<%= name %>" role="alert">
                    <b><%= msg %></b>
                    <ul>
                      <li> Discount Name must be <b>atleast 2 characters</b>.</li>
                      <li> Discount Name only accepts <b>letters, numbers, and selected special characters(,-&%)</b>.</li>
                      <li> Discount Value must be <b>less than 1.01</b>.</li>
                      <li> Discount Name may already <b>exist</b>.</li>
                    </ul>
                  </div>
                <% end %>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th style="text-align: center">Discount</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @discount.each do |d| %>
                    <tr>
                        <td><%= d.disc_name %></td>
                        <td style="text-align: center"><%= d.disc_value * 100 %><%= "%"%></td>
                        <td>
                            <div class="row">
                              <div class="col-sm-6">
                                  <%= link_to edit_discount_path(:id => d.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_discount', :class => 'btn btn-warning btn-sm'} do %>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  <% end %>
                              </div>
                              <div class="col-sm-6">
                                <a href="/coordinators/discount/<%= d.id %>/delete" class="btn btn-sm btn-danger" data-confirm="Are you sure?">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </a>
                              </div>
                            </div>
                        </td>
                    </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_discount" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_discount" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
