$(document).ready( function() {
	$("#edit_faculty").html("<%= escape_javascript(render 'coordinators/edit_faculty') %>");
	$('#edit_faculty').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_faculty' ).modal( 'hide' );
});

$('#edit_faculty').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
