$(document).ready( function() {
	$("#edit_discount").html("<%= escape_javascript(render 'coordinators/edit_discount') %>");
	$('#edit_discount').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_discount' ).modal( 'hide' );
});

$('#edit_discount').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
