$(document).ready( function() {
	$("#edit_subject").html("<%= escape_javascript(render 'coordinators/edit_subject') %>");
	$('#edit_subject').modal('show');

	$("#select-tag").select2({
		placeholder: "Select default fee",
		allowClear: true,
		width: "100%"
  });
});

$("#submitform").click( function() {
  $( '#edit_subject' ).modal( 'hide' );
});

$('#edit_subject').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
