$(document).ready( function() {
	$("#edit_appearance").html("<%= escape_javascript(render 'coordinators/edit_appearance') %>");
	$('#edit_appearance').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_appearance' ).modal( 'hide' );
});

$('#edit_appearance').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
