$(document).ready( function() {
	$("#edit_specialization").html("<%= escape_javascript(render 'coordinators/edit_specialization') %>");
	$('#edit_specialization').modal('show');

	$("#select-tag").select2({
		placeholder: "Select a program",
		allowClear: true,
		width: "100%"
  });
});

$("#submitform").click( function() {
  $( '#edit_specialization' ).modal( 'hide' );
});

$('#edit_specialization').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
