$(document).ready( function() {
	$("#edit_classtype").html("<%= escape_javascript(render 'coordinators/edit_classtype') %>");
	$('#edit_classtype').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_classtype' ).modal( 'hide' );
});

$('#edit_classtype').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);',1000);
})
