$(document).ready( function() {
	$("#edit_tfeediscount").html("<%= escape_javascript(render 'coordinators/edit_tfeediscount') %>");
	$('#edit_tfeediscount').modal('show');

	$("#select-tag").select2({
    minimumResultsForSearch: -1,
		allowClear: true,
		width: "95%"
  });
});

$("#submitform").click( function() {
  $( '#edit_tfeediscount' ).modal( 'hide' );
});

$('#edit_tfeediscount').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);', 1000);
})
