$(document).ready( function() {
	$("#edit_semester").html("<%= escape_javascript(render 'coordinators/edit_semester') %>");
	$('#edit_semester').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_semester' ).modal( 'hide' );
});

$('#edit_semester').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
