$(document).ready( function() {
	$("#edit_program").html("<%= escape_javascript(render 'coordinators/edit_program') %>");
	$('#edit_program').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_program' ).modal( 'hide' );
});

$('#edit_program').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
