$(document).ready( function() {
	$("#edit_room").html("<%= escape_javascript(render 'coordinators/edit_room') %>");
	$('#edit_room').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_room' ).modal( 'hide' );
});

$('#edit_room').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
