$(document).ready( function() {
	$("#edit_schoolyear").html("<%= escape_javascript(render 'coordinators/edit_schoolyear') %>");
	$('#edit_schoolyear').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_schoolyear' ).modal( 'hide' );
});

$('#edit_schoolyear').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);', 1000);
})
