$(document).ready( function() {
	$("#edit_compexamsubj").html("<%= escape_javascript(render 'coordinators/edit_compexamsubj') %>");
	$('#edit_program').modal('show');

	$("#select-tag").select2({
		placeholder: "Select one",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag2").select2({
		placeholder: "Select one",
		allowClear: true,
		width: "95%"
  });
});

$("#submitform").click( function() {
  $( '#edit_compexamsubj' ).modal( 'hide' );
});

$('#edit_compexamsubj').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
