$(document).ready( function() {
	$("#edit_offering").html("<%= escape_javascript(render 'coordinators/edit_offering') %>");
	$('#edit_offering').modal('show');

	$("#select-tag1").select2({
    placeholder: "Select a subject",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag2").select2({
		placeholder: "Select a room",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag3").select2({
		placeholder: "Select a teacher",
		allowClear: true,
		width: "95%"
  });

	$("#select-tag4").select2({
		placeholder: "Select class type",
		allowClear: true,
		width: "95%"
  });
});

$("#submitform").click( function() {
  $( '#edit_offering' ).modal( 'hide' );
});

$('#edit_offering').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
