$(document).ready( function() {
	$("#edit_fee").html("<%= escape_javascript(render 'coordinators/edit_fee') %>");
	$('#edit_fee').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_fee' ).modal( 'hide' );
});

$('#edit_fee').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
