$(document).ready( function() {
	$("#edit_compexam").html("<%= escape_javascript(render 'coordinators/edit_compexam') %>");
	$('#edit_compexam').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_compexam' ).modal( 'hide' );
});

$('#edit_compexam').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})