$(document).ready( function() {
	$("#edit_history").html("<%= escape_javascript(render 'coordinators/edit_history') %>");
	$('#edit_history').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_history' ).modal( 'hide' );
});

$('#edit_history').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
