$(document).ready( function() {
	$("#edit_roomfee").html("<%= escape_javascript(render 'coordinators/edit_roomfee') %>");
	$('#edit_roomfee').modal('show');

	$("#select-tag").select2({
    minimumResultsForSearch: -1,
		allowClear: true,
		width: "95%"
  });
});

$("#submitform").click( function() {
  $( '#edit_roomfee' ).modal( 'hide' );
});

$('#edit_roomfee').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
