$(document).ready( function() {
	$("#edit_contpan").html("<%= escape_javascript(render 'coordinators/edit_contpan') %>");
	$('#edit_contpan').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_contpan' ).modal( 'hide' );
});

$('#edit_contpan').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
