$(document).ready( function() {
	$("#edit_student").html("<%= escape_javascript(render 'coordinators/edit_student') %>");
	$('#edit_student').modal('show');

	$("#select-tag2").select2({
		placeholder: "Select a track",
		allowClear: true,
		width: "100%"
  });

	$("#select-tag3").select2({
		placeholder: "Select a curriculum",
		allowClear: true,
		width: "150"
  });
});

$("#submitform").click( function() {
  $( '#edit_student' ).modal( 'hide' );
});

$('#edit_student').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);', 1000);
})
