$(document).ready( function() {
	$("#edit_tempval").html("<%= escape_javascript(render 'coordinators/edit_tempval') %>");
	$('#edit_tempval').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_tempval' ).modal( 'hide' );
});

$('#edit_tempval').on('hidden.bs.modal', function () {
	setTimeout('tempval.go(0);');
})
