$(document).ready( function() {
	$("#edit_curriculum").html("<%= escape_javascript(render 'coordinators/edit_curriculum') %>");
	$('#edit_program').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_curriculum' ).modal( 'hide' );
});

$('#edit_curriculum').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
