<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-inbox"></span>Enlistment- Select Student
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-inbox"></span>Enlistment- Enlist Subjects
                </li>
            </ol>
            <h4></h4> 
            <center>
            </center>
            <div class="panel-body">
                <div class="panel-heading">
                    <center></center>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6"><b>Student ID: <%= @student.stud_id %></b></div>
                        <div class="col-xs-6"><b>Name: <%= @student.s_fname %> <%= @student.s_mname %> <%= @student.s_lname %></b></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><b>Gender: <%= @student.gender %></b></div>
                        <% @curr = Curriculum.find(@student.curriculum_id).curr_type %>
                        <div class="col-xs-6"><b>Type: <%= @curr %></b></div>
                    </div>
                    <div class="row">
                        <% @major = Specialization.find(@student.specialization_id).spec_name %>
                        <% @program = Program.find(Specialization.find(@student.specialization_id).program_id).program_title %>
                        <div class="col-xs-6"><b>Year/Course/Track: <%= @student.year.to_s + "/" %> <%= @program + "/" %> <%= @major %></b></div>
                        <% @h = History.find_by(student_id: @student.id, sy: Contpan.first.schoolyear_id, sem: Contpan.first.semester_id) %>
                        <div class="col-xs-6"><b>Active Discount: <%= @h1 = Discount.find(@h.discount_id).disc_name %></b>
                        <%= link_to edit_history_path(:id => @h.id, :sid => @student.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_history', 'role' => 'button', 'class' => 'btn btn-warning btn-sm'} do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-3">
                            <% @sem = Semester.find(Contpan.first.semester_id).sem_name %>
                            <% @sy = Schoolyear.find(Contpan.first.schoolyear_id) %>
                            <% @sys = @sy.startyr %>
                            <% @sye = @sy.endyear %>
                            <strong>ENLISTED SUBJECTS <%= @sem %> Semester, S/Y <%= @sys %>-<%= @sye %></strong>
                        </div>
                        <div class="col-sm-4">
                            <% if @recordlog.count > 0 %>
                            <a href="/coordinators/<%= @student.id %>.pdf">
                                <span class="fa fa-file-pdf-o pull-right pdf">
                            </a>
                            <% end %>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Subject Code</th>
                            <th>Title</th>
                            <th>Section</th>
                            <th>Teacher</th>
                            <th>Units</th>
                            <th width="4%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @recordlog.each do |r| %>
                        <% @temprid = r.id %>
                        <% @sched = Schedule.where(offering_id: r.offering_id) %>
                            <% @sched.each do |sched| %>
                                <% @tday = sched.days.gsub(/[",0]/,'') %>
                                <% @tday1 = @tday.gsub(/"|\[|\]/, '') %>
                                <% @days1 = @tday1.delete(' ') %>
                                <% @tstart = sched.time_start.strftime("%I:%M %p") %>
                                <% @tc = " - " %>
                                <% @tend = sched.time_end.strftime("%I:%M %p") %>
                                <% @off = Offering.where(id: sched.offering_id) %>
                                <% @off.each do |off| %>
                                    <% @sec = off.section %>
                                    <% @units = off.unit %>
                                    <% @tempid = off.id %>
                                    <% @teacher = Faculty.find(off.faculty_id) %>
                                    <% if @teacher.f_fname == "TBA" %>
                                        <% @facultyfull = "TBA" %>
                                    <% else %>
                                        <% @facultyfull = @teacher.f_fname[0] + "." + @teacher.f_mname[0] + ". " + @teacher.f_lname  %>
                                    <% end %>
                                        <% @offsid = off.subject_id %>
                                        <% @subj = Subject.where(id: off.subject_id) %>
                                        <% @subj.each do |sb| %>
                                            <% @subject_code = sb.subject_code %>
                                            <% @subject_title = sb.subject_title %>
                                        <% end %>
                                <% end %>
                            <% end %>
                        <tr>
                            <td><%= @subject_code %></td>
                            <td><%= @subject_title %></td>
                            <td><%= @sec %></td>
                            <td><%= @facultyfull %></td>
                            <td><%= @units %></td>
                            <td>
                                <a data-controls-modal="confirmationDialog" href="/coordinators/<%= @temprid %>/drop/<%= @student.id %>" type="button" class="btn btn-danger btn-block btn-sm" data-confirm="Are you sure?">
                                  <i class="glyphicon glyphicon-remove-sign"></i>
                                     Drop
                                </a>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <div class="panel-heading">
                    <center>Subject Offerings</center>
                </div>
                <table id="datatabs" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 89px;">SUBJECT CODE</th>
                            <th style="text-align: center">TITLE</th>
                            <th style="text-align: center">SECTION</th>
                            <th style="text-align: center">TEACHER</th>
                            <th style="text-align: center">Schedule</th>
                            <th style="text-align: center">Units</th>
                            <th style="text-align: center">Available</th>
                            <th style="text-align: center">Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @schedule.each do |s| %>
                                <% @tempday = s.days.gsub(/[",0]/,'') %>
                                <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                                <% @days = @tempday1.delete(' ') %>
                                <% @timestart = s.time_start.strftime("%I:%M %p") %>
                                <% @c = " - " %>
                                <% @timeend = s.time_end.strftime("%I:%M %p") %>
                                <% @offering = Offering.where(id: s.offering_id) %>
                                <% @offering.each do |o| %>
                                    <% @oid = o.subject_id %>
                                    <% @section = o.section %>
                                    <% @unit = o.unit %>
                                    <% @id = o.id %>
                                    <% @slots = o.slots_available %>
                                    <% @slots_taken = o.slots_taken %>
                                    <% @faculty = Faculty.find_by(id: o.faculty_id) %>
                                    <% if @faculty.f_fname == "TBA" %>
                                        <% @facultyname == "TBA" %>
                                    <% else %>
                                        <% @facultyname = @faculty.f_fname[0] + "." + @faculty.f_mname[0] + ". " + @faculty.f_lname %>
                                    <% end %>
                                    <% @room = Room.find(o.room_id) %>
                                    <% @room_name = @room.room_name %>
                                    <% @subject = Subject.where(id: o.subject_id) %>
                                    <% @subject.each do |s| %>
                                        <% @subj_code = s.subject_code %>
                                        <% @subj_title = s.subject_title %>
                                        <% @subid = o.subject_id %>
                                    <% end %>
                                <% end %>
                            <tr>
                                <td class="text-center"><%= @subj_code %></td>
                                <td><%= @subj_title %></td>
                                <td class="text-center"><%= @section %></td>
                                <td class="text-center"><%= @facultyname %></td>
                                <td class="text-center"><%= @timestart %><%= @c %><%= @timeend %> <%= @days %></td>
                                <td class="text-center"><%= @unit %></td>
                                <td class="text-center"><%= @slots %></td>
                                <td>
                                    <% @tos.each do |ttt| %>
                                        <% if @oid == ttt && @recordlog.count > 0 %>
                                            <% @test = true %>
                                            <% break %>
                                        <% else %>
                                            <% @test = false %>
                                        <% end %>
                                    <% end %>

                                    <% if  !Recordlog.where(offering_id: @id).where(history_id: @hs).exists?  && @test == false || !Recordlog.where(history_id: @hs).exists? %>

                                        <% if Offering.find(@id).slots_available != 0 %>
                                        <a data-controls-modal="confirmationDialog" href="/coordinators/<%= @id %>/enlist_subject/<%= @student.id %>" role="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Delete student" data-confirm="Are you sure?">
                                                <i class="glyphicon glyphicon-plus-sign"></i>
                                                Add
                                        </a>
                                        <% else %>
                                            <span class="label label-danger">
                                            CLOSED
                                            </span>
                                        <% end %>
                                    <% else %>
                                        <span class="label label-danger">
                                            CLOSED
                                        </span>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="edit_history" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
