<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-inbox"></span>Enlistment- Select Student
                </li>
            </ol>
            <h4>Select Student to Enlist</h4>
            <center>
            </center>
            <div class="panel-heading">
                Students
            </div>
            <div class="panel-body">
            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th style="text-align: center">Name</th>
                  <th>Year</th>
                  <th style="text-align: center">Course</th>
                  <th>Gender</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for s in @student %>
                <tr>
                    <% @curriculum = Curriculum.where(id: s.curriculum_id) %>
                    <% @curriculum.each do |c| %>
                        <% @tempC = c.curr_type %>
                    <% end %>
                    <% @specialization = Specialization.find(s.specialization_id) %>
                    <% @tempSp = @specialization.spec_name %>
                    <% @program = Program.find(@specialization.program_id).program_title %>
                    <td><%= s.stud_id %></td>
                    <td><%= s.s_fname %> <%= s.s_mname %> <%= s.s_lname %></td>
                    <td style="text-align: center"><%= s.year %></td>
                    <td><%= @program %></td>
                    <td><%= s.gender %></td>
                    <td><%= s.status %></td>
                    <td><%= @tempC %></td>
                    <td>
                        <a class="btn btn-sm btn-success" href="/coordinators/<%= s.id %>">ENLIST</a>
                      <!--
                      <a href="/coordinators/<%= s.id %>" role="button" class="btn btn-default btn-primary btn-xs">
                        <i class="fa fa-list-ul fa-sm" aria-hidden="true"></i>
                        ENLIST
                      </a>
                      -->
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
