<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-folder-open"></span>Enrollment Data
                </li>
            </ol>
            <div class="panel-default panel container-fluid">
                <div class="panel-heading row panel-custom">
                  <div class="col-xs-4">
                    <h3 class="panel-title">
                      Enrollment Data
                    </h3>
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                      <a href="/coordinators/enrollmentdata.pdf">
                          <span class="fa fa-file-pdf-o pull-right">
                          </span>
                      </a>
                      <a href="/coordinators/enrollmentdata.xlsx">
                          <span class="fa fa-file-excel-o pull-right">
                          </span>
                      </a>
                  </div>                  
                </div>   
                <div class="panel-body">
                    <p class="text-center rhead">
                        GRADUATE PROGRAMS
                    </p>
                    <p class="text-center shead">
                          Updated Enrollment Data
                          <br>
                          <% @sem = Semester.find(Contpan.first.semester_id) %>
                          <% @sy = Schoolyear.find(Contpan.first.schoolyear_id) %>
                          <%= @sem.sem_name %> Semester,  SY <%= @sy.startyr %>-<%= @sy.endyear%>
                    </p>                 
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>COURSE</th>
                          <% @curriculum.each do |c| %>
                          <th><%= c.curr_type %></th>
                          <% end %>
                          <th>TOTAL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @total = 0 %>
                        <% @counterArr = Array.new %>
                        <% @colsTotal = Array.new %>
                        <% @program.each do |p| %>
                        <tr>
                            <td><%= p.program_title %></td>
                            <% @supercount = 0 %>
                            <% @colcount = 0 %>
                            <% @curriculum.each do |c| %>
                                <% @counter = 0 %>
                                <% @c = Student.where(id: @tempArr3).where(curriculum_id: c.id) %>
                                <% @c.each do |cc| %>
                                    <% if Program.find(Specialization.find(cc.specialization_id).program_id).id == p.id  %>
                                        <% @counter = @counter + 1 %>
                                    <% end %>
                                <% end %>
                                <% @counterArr << @counter %>
                                <td><%= @counter %></td>
                                <% @supercount = @supercount + @counter %>
                            <% end %>
                            <td><%= @supercount %></td>
                            <% @total = @total + @supercount %>
                        </tr>
                        <% end %>
                        <tr>
                            <% @curriculum.count.times do |currC| %>
                                <% @tempColCount = 0 %>
                                <% @add = currC %>
                                <% @program.count.times do |program| %>
                                    <% @tempColCount = @tempColCount + @counterArr[@add] %>
                                    <% @add = @add + @curriculum.count %>
                                <% end %>
                                <% @colsTotal << @tempColCount %>
                            <% end %>
                            <td><strong>TOTAL</strong></td>
                                <% @colsTotal.each do |c| %>
                                    <td><%= c %></td>                    
                                <% end %>
                            <td><%= @total %></td>
                        </tr>
                      </tbody>
                    </table>
                </div>                         
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>

