<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-th"></span>Faculty
                </li>
            </ol>
            <h4>AdNU ICTC Graduate Programs</h4>
            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Faculty
                  </div>
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4">
                    <%= link_to add_faculty_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_faculty', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                  <div class="col-xs-4">
                  </div>
                </div>
            </div>
            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> ID number must have exactly <b>9 digits</b>.</li>
                    <li> All fields are <b>required</b>.</li>
                  </ul>
                </div>
              <% end %>


            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Faculty ID</th>
                  <th style="text-align: center">Name</th>
                  <th style="text-align: center">Type</th>
                  <th style="text-align: center">Degree</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @faculty.each do |f| %>
                <tr>
                    <td><%= f.f_id %></td>
                    <td><%= f.f_fname %> <%= f.f_mname %> <%= f.f_lname %></td>
                    <td><%= f.f_type %></td>
                    <td><%= f.degree %></td>
                    <td>
                      <div class="row">
                        <div class="col-sm-6">
                        <%= link_to edit_faculty_path(:id => f.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_faculty', 'data-toggle' => 'tooltip', 'title' => 'Edit student', 'role' => 'button', 'class' => 'btn btn-warning btn-sm'} do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                        </div>
                        <div class="col-sm-6">
                          <a href="/coordinators/faculty/<%= f.id %>/delete" role="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete student" data-confirm="Are you sure?">
                              <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                      </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_faculty" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_faculty" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
