<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-folder-open"></span>Faculty Loading
                </li>
            </ol>
            <div class="panel-default panel container-fluid">
              <div class="panel-heading row panel-custom">
                  <div class="col-xs-4">
                      <h3 class="panel-title">Faculty Loading Report</h3>
                  </div>
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4">
                      <a href="/coordinators/facultyloading.pdf">
                       <span class="fa fa-file-pdf-o pull-right">
                          </span>
                      </a>
                      <a href="/coordinators/facultyloading.xlsx">
                      <span class="fa fa-file-excel-o pull-right">
                          </span>
                      </a>
                  </div>
              </div>
              <div class="panel-body">
                <h4><b><center>GRADUATE PROGRAMS</center>
                <br>
                <center>FACULTY LOADING REPORT</center></b></h4>
                <br>
                <div class="row">
                  <div class="col-xs-6 dept">
                    Department: <b><u><%= Contpan.first.department %></u></b>
                  </div>
                  <div class="col-xs-6">
                  Semester: <%= Semester.find(Contpan.first.semester_id).sem_name %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <% @sy = Schoolyear.find(Contpan.first.schoolyear_id) %>
                    College: <u><%= Contpan.first.college %></u>
                  </div>
                  <div class="col-xs-6">
                    School Year: <u><%= @sy.startyr%>-<%= @sy.endyear %></u>
                  </div>
                </div>
                
                Course: <% @program = Program.all %>
                <% @count = 0 %>
                <% @program.each do |p| %>
                    <div>
                      <%= @count = @count + 1 %>. <b><u><%= p.program_title %></u></b>
                      </div>
                <% end %>
                <br>
                <% @faculty.each do |f| %>

                      <div>
                          <%= f.f_lname %><%=", "%><%= f.f_fname %> <%= f.f_mname %>
                      </div>
                      <div>
                         Highest Academic Qualification: <%= f.degree %>
                      </div>
                      <div>
                          <% @count = Offering.where(faculty_id: f.id).where("slots_taken > ?", 0).where(schoolyear_id: @sy).where(semester_id: @sem).count %>
                          No. of Preparations: <%= @count %>
                      </div>
                      <div>
                          <% @totalunits = 0 %>
                          <% @of = Offering.where(faculty_id: f.id).where("slots_taken > ?", 0).where(schoolyear_id: @sy).where(semester: @sem) %>
                          <% @of.each do |off| %>
                              <% @totalunits = @totalunits.to_f + off.unit.to_f %>
                          <% end %>
                          Total Units: <%= @totalunits %>
                      </div>
                      <div>
                        Total Pay:
                        <% @arrtype = Array.new %>
                        <% @of.each do |o| %>
                          <% if !@arrtype.include? o.classtype_id %>
                            <% @arrtype << o.classtype_id %>
                          <% end %>
                        <% end %>

                        <% @arrtype.each do |arr| %>
                            <% @totalunits = 0 %>
                            <% @of.each do |o| %>
                              <% if o.classtype_id == arr %>
                                <% @totalunits = @totalunits + o.unit %>
                              <% end %>
                            <% end %>
                            <%= @totalunits %> units (<%= Classtype.find(arr).ctype_name %>)
                        <% end %>
                      </div>
                  <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>SUBJ CODE</th>
                              <th>COURSE TITLE</th>
                              <th>SECTION</th>
                              <th>UNITS</th>
                              <th>TIME</th>
                              <th>DAYS</th>
                              <th>ROOM</th>
                              <th>CLASS SIZE</th>
                              <th>TYPE</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @of.each do |offering| %>
                            <% @subject = Subject.find(offering.subject_id) %>
                            <% @schedule = Schedule.find_by(offering_id: offering.id) %>
                            <% @timestart = @schedule.time_start.strftime("%I:%M %p") %>
                            <% @timeend = @schedule.time_end.strftime("%I:%M %p") %>
                            <% @tempday = @schedule.days.gsub(/[",0]/,'') %>
                            <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                            <% @days =  @tempday1.delete(' ') %>
                            <% @room = Room.find(offering.room_id) %>
                              <tr>
                                <td><%= @subject.subject_code %></td>
                                <td><%= @subject.subject_title %></td>
                                <td><%= offering.section %></td>
                                <td><%= offering.unit %></td>
                                <td><%= @timestart %><%= "-" %><%= @timeend %></td>
                                <td><%= @days %></td>
                                <td><%= @room.room_name %></td>
                                <td><%= offering.slots_taken %></td>
                                <td><%= Classtype.find(offering.classtype_id).ctype_name %></td>
                              </tr>
                            <% end %>
                          </tbody>
                  </table>
                <% end %>
              </div>
            </div>

        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
