<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Fees
                </li>
            </ol>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Fees
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                    <%= link_to add_fee_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_fee', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Input must have <b>atleast 4 characters</b>.</li>
                    <li> Input only accepts <b>letters</b>.</li>
                    <li> Name of Fee may already be <b>taken</b>.</li>
                  </ul>
                </div>
              <% end %>

            <table class="table display table-bordered">
              <thead>
                <tr>
                  <th>Name of Fee</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @fee.each do |f| %>
                <tr>
                    <td><%= f.fee_name %></td>
                    <td>
                        <div class="row">
                          <div class="col-sm-6">
                            <%= link_to edit_fee_path(:id => f.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_fee', :class => 'btn btn-sm btn-warning'} do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                          </div>
                          <div class="col-sm-6">
                            <a href="/coordinators/fee/<%= f.id %>/delete" class="btn btn-sm btn-danger" data-confirm="Are you sure?">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_fee" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_fee" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
