<div id="page-wrapper" data-spy="scroll" data-target="#myScrollspy">
  <div class="row">
      <div class="col-md-2">
        <!-- filler -->
      </div>
      <div class="col-md-10">
          <ol class="breadcrumb">
              <li class = "active">
                  <span class="fa fa-info"></span><a href="#"> Help Center</a>
              </li>
          </ol>

          <div class="panel-body">
            <h1><b>Help Center</b></h1>
            <hr>
            <br>
            <h2>Topics:</h2>
            <nav id="myScrollspy">
              <ul><h3>
                <li><a href="#section1">Optimize System Settings</a></li>
                <li><a href="#section2">Customize Appearance</a></li>
                <li><a href="#section3">Filling up the Records</a></li>
                <li><a href="#section4">Creating Offerings</a></li>
                <li><a href="#section5">Enlisting a student</a></li>
                <li><a href="#section6">Download Reports</a></li>
                <li><a href="#section7">Set a Schedule for Comprehensive Exam</a></li>
              </h3><ul>
            </nav>
            <br>
            <h3><center><i><b>The Dashboard</b></i></center></h3>
            <center><%=  link_to image_tag("help/help_dashboard_coordinator.png") %></center>
            <br>
            <ol><h4>
              <li>Dropdown Menu</li><br>
              <li>Side Menu Bar</li><br>
              <li>Activities</li><br>
              <li>People</li><br>
              <li>Programs</li><br>
              <li>Graduate School</li><br>
            </h4></ol>
            <br>

            <h2 id="section1"><b>Optimize System Settings</b></h2>
            <br>
            <ol><h4>
              <li>Click the Dropdown menu on the upper right corner of the page.</li><br>
              <li>Click <b>"Settings"</b> and it will redirect you to this page:</li><br>
              <center><%=  link_to image_tag("help/settings_coordinator.png") %></center><br>
              <li>To edit the system settings, click the first <b>"Change Settings"</b> button and this dialog box will show up:</li><br>
              <center><%=  link_to image_tag("help/edit1_settings_coordinator.png") %></center><br>
              <li>To edit the comprehensive exam settings, click the latter <b>"Change Settings"</b> button and this dialog box will show up:</li><br>
              <center><%=  link_to image_tag("help/edit2_settings_coordinator.png") %></center><br>
              <li>Fill up the forms and click the <b>"Update"</b> button.</li><br>
            </h4></ol>
            <br>

            <h2 id="section2"><b>Customize Appearance</b></h2>
            <br>
            <ol><h4>
              <li>Click the Dropdown menu on the upper right corner of the page.</li><br>
              <li>Click <b>"Customize"</b> and once you click it, this dialog box will show up:</li><br>
              <center><%=  link_to image_tag("help/customize_coordinator.png") %></center><br>
              <li>Fill up the form and click the <b>"Update"</b> button.</li><br>
            </h4></ol>
            <br>

            <h2 id="section3"><b>Filling up the Records</b></h2>
            <br>
            <ol><h4>
              <li>Click <b>"Recods"</b> on the side menu bar and select a topic.</li><br>
              <li>Once you click your selected topic, it will redirect you to its respective page.</li><br>
              <li>The following images are examples of the interface on the records since essentially, all of the interface on the records are similar.</li><br>
              <center><%=  link_to image_tag("help/student_coordinator.png") %></center><br>
              <center><%=  link_to image_tag("help/subject_coordinator.png") %></center><br>
              <li>Click the <b>"ADD"</b> button and a dialog box will appear containing the form that needs to be filled up like this image below:</li><br>
              <center><%=  link_to image_tag("help/add_subject_coordinator.png") %></center><br>
              <li>To save the form, click the <b>"Create"</b> button on the dialog box.</li><br>
            </h4></ol>
            <br>

            <h2 id="section4"><b>Creating Offerings</b></h2>
            <br>
            <ol><h4>
              <li>Click <b>"Subject Offerings"</b> on the side menu bar or on the "Activities" inside the dashboard.</li><br>
              <li>Once you click it, it will redirect you to this page:</li><br>
              <center><%=  link_to image_tag("help/oferring_coordinator.png") %></center><br>
              <li>To create a subject offering, click the <b>"ADD"</b> button and this dialog box will appear:</li><br>
              <center><%=  link_to image_tag("help/add_oferring_coordinator.png") %></center><br>
              <li>Fill up the forms and click the <b>"Create"</b> button. Note that all fields are required to successfully create an offering.</li><br>
            </h4></ol>
            <br>

            <h2 id="section5"><b>Enlisting a student</b></h2>
            <br>
            <ol><h4>
              <li>Click <b>"Enlistment"</b> on the side menu bar or on the "Activities" inside the dashboard.</li><br>
              <li>Once you click it, it will redirect you to this page:</li><br>
              <center><%=  link_to image_tag("help/enlist_coordinator.png") %></center><br>
              <li>Select a student to enlist and click the <b>"Enlist"</b> button and this dialog box will appear:</li><br>
              <center><%=  link_to image_tag("help/enlisting_coordinator.png") %></center><br>
              <li>To enlist, select a subject then click its respective <b>"Add"</b> button on the Subject Offerings table.</li><br>
              <li>And to drop a subject, select a subject then click its respective <b>"Drop"</b> button on the Enlisted Subjects table.</li><br>
            </h4></ol>
            <br>

            <h2 id="section6"><b>Download Reports</b></h2>
            <br>
            <ol><h4>
              <li>Click <b>"Reports"</b> on the side menu bar and select a type of report</li><br>
              <li>Once you click it, it will redirect you to one of this pages:</li><br>
              <center><%=  link_to image_tag("help/enrollmentdata_coordinator.png") %></center><br>
              <center><%=  link_to image_tag("help/facultyloading_coordinator.png") %></center><br>
              <center><%=  link_to image_tag("help/roomsandfees_coordinator.png") %></center><br>
              <center><%=  link_to image_tag("help/tuitionfeediscount_coordinator.png") %></center><br>
              <li>To download a report, click the PDF or XLS icon. The location of the icon is presented on the first image of this section.</li><br>
            </h4></ol>
            <br>

            <h2 id="section7"><b>Set a Schedule for Comprehensive Exam</b></h2>
            <br>
            <ol><h4>
              <li>Click <b>"Comp. Exam"</b> on the side menu bar and select Manage Applications</li><br>
              <li>Once you click it, it will redirect you to this pages:</li><br>
              <center><%=  link_to image_tag("help/compexamapps_coordinator.png") %></center><br>
              <li>Click the <b>"View"</b> button and it will redirect you to this page:</li><br>
              <center><%=  link_to image_tag("help/compexamappsdetails_coordinator.png") %></center><br>
              <li>Then, click the <b>"Edit"</b> button</li> and a dialog box will appear containing the needed form to edit.<br>
              <center><%=  link_to image_tag("help/edit_examdetails_coordinator.png") %></center><br>
              <li>Once you are done filling up the form, click the <b>"Update"</b> button<br>
            </h4></ol>
            <br>

            <hr>
            <h2><b>About</b></h2>
            <p><h4>ADNU ICTC GPIS is a multipurpose information system that caters to the generation of reports needed during the enrollment by the Graduate
              Program Coordinator (GPC) and the application for comprehensive exam by the Graduate School students. The system provides the GPC and the
              students a better interface and an easier way of handling enrollment tasks, report generation, comprehensive exam application, and results
              management. The system also helps other schools in handling the mentioned tasks easier by following the process of the AdNU ICTC Graduate Program.</h4></p>

          </div>

      </div>
    </div>
</div>
