<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-inbox"></span>Subject Offering
                </li>
            </ol>
            <% @contTemp = Contpan.first %>
            <% @cont = Semester.find(@contTemp.semester_id) %>
            <% @tempSyear = Schoolyear.find(@contTemp.schoolyear_id) %>
            <% @globsy = @tempSyear.startyr.to_s + "-" + @tempSyear.endyear.to_s %>
            <div class="panel-heading">
              <div class="row">
              <div class="col-xs-4">
                  <h3 class="panel-title offering">
                    <span class="panel-icon mr5"></span>
                    <span class="hidden-xs">
                      <b>OFFERED SUBJECTS</b>
                    </span>
                    <b>
                        <%= @cont.sem_name %>
                        <span class="hidden-xs">Semester</span>
                        SY <%= @globsy %>
                    </b>
                  </h3>
              </div>
              <div class="col-xs-4">
              </div>
              <div class="col-xs-4">
                <a class="btn btn-sm btn-default pull-right" href="/coordinators/offering.pdf">
                      SAVE AS PDF
                </a>
                <%= link_to add_offering_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_offering', method: 'get', :class => 'btn btn-sm btn-default pull-right'} do %>
                    ADD
                <% end %>
              </div>
              </div>
            </div>
            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Don't leave any blank fields.</li>
                    <li> Subject Offering <b>may already be taken</b>.</li>
                  </ul>
                </div>
              <% end %>

              <table id="datatabs" class="table table-striped">
                <thead>
                  <tr>
                    <th style="text-align: center">Subject Code</th>
                    <th>Section</th>
                    <th style="text-align: center; width: 15%">Title</th>
                    <th>Units</th>
                    <th style="text-align: center" >Time/Days</th>
                    <th>Room</th>
                    <th>Teacher</th>
                    <th style="text-align: center">Type</th>
                    <th>Available</th>
                    <th>Taken</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @tempday = @tempday1 = @days = @c = @timestart = @timeend = nil %>
                <% if @schedule != nil %>
                  <% @schedule.each do |s| %>
                    <% @tempday = s.days.gsub(/[",0]/,'') %>
                    <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                    <% @days = @tempday1.delete(' ') %>
                    <% @timestart = s.time_start.strftime("%I:%M %p") %>
                    <% @c = " - " %>
                    <% @timeend = s.time_end.strftime("%I:%M %p") %>
                    <% if Contpan.first.enforce == true %>
                        <% @offering = Offering.find_by(id: s.offering_id, schoolyear_id: Contpan.first.schoolyear_id) %>
                    <% else %>
                        <% @offering = Offering.find(s.offering_id) %>
                    <% end %>
                    <% @clastype = @id = @section = @unit = @slots = @slots_taken = @faculty = @facultyname = @room = @room_name = @subject = @subj_code = @subj_title = @type = nil %>
                    <% if @offering != nil %>
                        <% @type = Classtype.find(@offering.classtype_id).ctype_name %>
                        <% @id = @offering.id %>
                        <% @section = @offering.section %>
                        <% @unit = @offering.unit %>
                        <% @slots = @offering.slots_available %>
                        <% @slots_taken = @offering.slots_taken %>
                        <% @faculty = Faculty.find(@offering.faculty_id) %>
                        <% if @faculty.f_fname == "TBA" %>
                          <% @facultyname = "TBA" %>
                        <% else %>
                          <% @facultyname = @faculty.f_fname[0] + "." + @faculty.f_mname[0] + ". "+ @faculty.f_lname  %>
                        <% end %>
                        <% @room = Room.find(@offering.room_id) %>
                        <% @room_name = @room.room_name %>
                        <% @subject = Subject.find(@offering.subject_id) %>
                        <% @subj_code = @subject.subject_code %>
                        <% @subj_title = @subject.subject_title %>
                    <% end %>
                    <tr>
                        <td><%= @subj_code %></td>
                        <td><%= @section %></td>
                        <td><%= @subj_title %></td>
                        <td><%= @unit %></td>
                        <td><%= @timestart %><%= @c %><%= @timeend %> <%= @days %></td>
                        <td><%= @room_name %></td>
                        <td><%= @facultyname %></td>
                        <td><%= @type %></td>
                        <td style="text-align: center"><%= @slots %></td>
                        <td style="text-align: center"><%= @slots_taken %></td>
                        <td>
                          <div class="row">
                            <div class="col-sm-4">
                              <a class="btn btn-info btn-sm" href="/coordinators/offering/<%= @id %>">
                                <span class="glyphicon glyphicon-eye-open"></span>
                              </a>
                            </div>

                            <div class="col-sm-4">
                              <%= link_to edit_offering_path(:id => @id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_offering', :class => 'btn btn-warning btn-sm'} do %>
                                  <span class="glyphicon glyphicon-pencil"></span>
                              <% end %>
                            </div>
                            <div class="col-sm-4">
                              <a class= "btn btn-danger btn-sm" href="/coordinators/offering/<%= @id %>/delete" data-confirm="Are you sure?">
                                <span class="glyphicon glyphicon-remove"></span>
                              </a>
                            </div>
                            </div>
                        </td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_offering" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_offering" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
