<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Programs
                </li>
            </ol>
            <h4>AdNU ICTC Graduate Programs</h4>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Input must have atleast <b>3 characters</b>.</li>
                    <li> Input accepts <b>letters only</b>.</li>
                    <li> Input does <b>not accept special characters</b>.</li>
                    <li> Input <b>may already be taken</b>.</li>
                  </ul>
                </div>
              <% end %>

              <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-4">
                        Graduate Programs
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                      <%= link_to add_program_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_program', method: 'get', :class => 'btn btn-success btn-sm pull-right'} do %>
                        <span class="glyphicon glyphicon-plus"></span>
                      <% end %>
                    </div>
                    <div class="col-xs-4">
                    </div>
                  </div>
              </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Program Title</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% if @try %>
                    <% @program.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                <% end %>
                <% @program.each do |p| %>
                <tr>
                    <td><%= p.program_title %></td>
                    <td>
                        <div class="row">
                          <div class="col-sm-6">
                            <%= link_to edit_program_path(:id => p.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_program', :class => 'btn btn-warning btn-sm'} do %>
                              <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                          </div>
                          <div class="col-sm-6">
                            <a class="btn btn-danger btn-sm" href="/coordinators/programs/<%= p.id %>/delete" data-confirm="Are you sure?">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_program" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_program" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
