<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Rooms
                </li>
            </ol>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Rooms
                  </div>
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4">
                    <%= link_to add_room_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_room', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                  <div class="col-xs-4">
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Room Name must be <b>4 - 13 characters</b>.</li>
                    <li> Room Name only accepts <b>letters and numbers</b>.</li>
                    <li> Default Fee must have <b>atleast 4 characters</b>.</li>
                    <li> Default Fee only accepts <b>letters</b>.</li>
                    <li> Room Name may already be <b>taken</b>.</li>
                  </ul>
                </div>
              <% end %>

            <table class="table display table-bordered">
              <thead>
                <tr>
                  <th>Room</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <% @room.each do |r| %>
                <tr>
                    <td><%= r.room_name %></td>
                    <td>
                      <div class="row">
                        <div class="col-sm-4">
                          <%= link_to edit_room_path(:id => r.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_room', 'role' => 'button', 'class' => 'btn btn-warning btn-sm'} do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          <% end %>
                        </div>
                        <div class="col-sm-4">
                          <a href="/coordinators/room/<%= r.id %>/delete" role="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete room" data-confirm="Are you sure?">
                              <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                      </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_room" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_room" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
