<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-folder-open"></span>Rooms and Fees
                </li>
            </ol>
            <div class="panel-default panel container-fluid">
                <div class="panel-heading row panel-custom">
                  <div class="col-xs-4">
                    <h3 class="panel-title">
                      Rooms and Fees
                    </h3>
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                      <a href="/coordinators/roomandfee.pdf">
                          <span class="fa fa-file-pdf-o pull-right">
                          </span>
                      </a>
                      <a href="/coordinators/roomandfee.xlsx">
                          <span class="fa fa-file-excel-o pull-right">
                          </span>
                      </a>
                  </div>                  
                </div>
              <div class="panel-body">
                <p class="text-center rhead">
                    GRADUATE PROGRAMS
                </p>
                <p class="text-center shead">
                      LIST OF SUBJECTS OFFERED
                      <br>
                      WITH AND WITHOUT LABORATORY FEES
                      <br>
                      <% @sem = Semester.find(Contpan.first.semester_id) %>
                      <% @sy = Schoolyear.find(Contpan.first.schoolyear_id) %>
                      <%= @sem.sem_name %> Semester,  SY <%= @sy.startyr %>-<%= @sy.endyear%>
                </p>               
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>SUBJECT</th>
                      <th>DESCRIPTION</th>
                      <th>UNITS</th>
                      <th>ROOM</th>
                      <th>LABORATORY FEE</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @offering.each do |o| %>
                        <% @subject = Subject.find(o.subject_id) %>
                        <% @room = Room.find(o.room_id) %>
                        <% @fee = Fee.find(o.fee_id) %>
                        <tr>
                            <td><%= @subject.subject_code %></td>
                            <td><%= @subject.subject_title %></td>
                            <td><%= o.unit %></td>
                            <td><%= @room.room_name %></td>
                            <td><%= @fee.fee_name %></td>
                            <td>
                                <%= link_to edit_roomfee_path(:id => o.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_roomfee', method: 'get', :class => 'btn btn-sm btn-warning'} do %>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="edit_roomfee" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
