<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>School Year
                </li>
            </ol>
            <h4>AdNU ICTC Graduate schoolyears</h4>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      School Year
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                    <%= link_to add_schoolyear_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_schoolyear', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                        <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Year must have <b>exactly 4 digits</b>.</li>
                    <li> Start year must be less than End year.</li>
                    <li> School Year may already <b>exist</b>.</li>
                  </ul>
                </div>
              <% end %>

            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>S/Y</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @dash = "-" %>
                <% @schoolyear.each do |s| %>
                <tr>
                    <td><%= s.startyr %> <%= @dash %> <%= s.endyear %></td>
                    <td >
                        <div class="row">
                        <div class="col-sm-6">
                          <%= link_to edit_schoolyear_path(:id => s.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_schoolyear', :class => "btn btn-warning btn-sm"} do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          <% end %>
                        </div>
                        <div class="col-sm-6">
                          <a href="/coordinators/schoolyear/<%= s.id %>/delete" class="btn btn-sm btn-danger" data-confirm="Are you sure?">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_schoolyear" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_schoolyear" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
