<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Semester
                </li>
            </ol>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Semester Info
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                    <%= link_to add_semester_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_semester', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                      <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Input must have <b>atleast 3 characters</b>.</li>
                    <li> Input only accepts <b>letters and numbers</b>.</li>
                    <li> Semester may already <b>exist</b>.</li>
                  </ul>
                </div>
              <% end %>

            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Semester</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @semester.each do |s| %>
                <tr>
                    <td><%= s.sem_name %></td>
                    <td>
                        <div class="row">
                          <div class="col-sm-6">
                          <%= link_to edit_semester_path(:id => s.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_semester', :class => 'btn btn-warning btn-sm'} do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          <% end %>
                          </div>
                          <div class="col-sm-6">
                            <a href="/coordinators/semester/<%= s.id%>/delete" class="btn btn-danger btn-sm" data-confirm="Are you sure?">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_semester" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_semester" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
