<div id="page-wrapper">
    <div class="row">
      <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="fa fa-cog"></span> Settings
                </li>
            </ol>
            <% @contpan.each do |c| %>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-heading custompanel">
                      <h4 class="semibold nm">SYSTEM SETTINGS</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-2">
                              Site Title
                            </div>
                            <div class="col-sm-10">
                                <%= c.site_name %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                              School Year
                            </div>
                            <div class="col-sm-10">
                              <% @sy = Schoolyear.find(c.schoolyear_id) %>
                              <%= @sy.startyr %>-<%= @sy.endyear %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                              Semester
                            </div>
                            <div class="col-sm-10">
                              <%= Semester.find(c.semester_id).sem_name %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                              College
                            </div>
                            <div class="col-sm-10">
                              <%= c.college %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                              Department
                            </div>
                            <div class="col-sm-10">
                              <%= c.department %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                              Coordinator Name
                            </div>
                            <div class="col-sm-10">
                              <%= c.full_name %>
                            </div>
                        </div>
                        <%= link_to edit_contpan_path(:id => c.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_contpan'} do %>
                                <button type="button" class="btn btn-primary">Change Settings</button>
                        <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
                <% @tempval.each do |t| %>
                <div class="row">
                  <div class="col-md-9">
                    <div class="panel-heading custompanel">
                      <h4 class="semibold nm">COMPREHENSIVE EXAM SETTINGS</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-4">
                              Required Subjects to take
                            </div>
                            <div class="col-sm-8">
                                <%= t.subjtotake %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                              Required subjects to pass
                            </div>
                            <div class="col-sm-8">
                                <%= t.default_subjtopass %>
                            </div>
                        </div>
                        <%= link_to edit_tempval_path(:id => t.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_tempval'} do %>
                                <button type="button" class="btn btn-primary">Change Settings</button>
                        <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
        </div>
  </div>


<div id="edit_contpan" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_tempval" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
