<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Programs
                </li>
            </ol>
            <h4>AdNU ICTC Graduate Programs</h4>
            <center>
            <button class="btn btn-large btn-primary"><a href="/coordinators/add_program">Add</a></button>
            </center>
            <div class="panel-heading">
                Graduate Programs
            </div>
            <div class="panel-body">
            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Program Title</th>
                </tr>
              </thead>
              <tbody>
                <% @program.each do |p| %>
                <tr>
                    <td><%= p.program_title %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
