<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Specializations
                </li>
            </ol>
            <h4>Field of Specializations</h4>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Spec Name must be <b>atleast 5 characters</b>.</li>
                    <li> Spec Name only accepts <b>letters, numbers and selected special characters (' - ' and ' , ')</b>.</li>
                    <li> Choose a <b>Program Track</b>.</li>
                    <li> Spec Name <b>may already be taken</b>.</li>
                  </ul>
                </div>
              <% end %>

              <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-4">
                        Specializations
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                      <%= link_to add_specialization_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_program', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                        <span class="glyphicon glyphicon-plus"></span>
                      <% end %>
                    </div>
                    <div class="col-xs-4">
                    </div>
                  </div>
              </div>
            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Field of Specializations</th>
                  <th style="text-align: center">Program Track</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <% @specialization.each do |s| %>
                <tr>
                    <td><%= s.spec_name %></td>
                    <% @id = s.program_id %>
                    <% @tempCol = Program.where(id: @id) %>
                    <% @tempCol.each do |te| %>
                        <% @container = te.program_title %>
                    <% end %>
                    <td><%= @container %></td>
                    <td>
                        <div class="row">
                          <div class="col-sm-4">
                            <%= link_to edit_specialization_path(:id =>s.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => "#edit_specialization", :class => "btn btn-sm btn-warning"} do %>
                              <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                          </div>
                          <div class="col-sm-4">
                              <a class="btn btn-sm btn-danger" href="/coordinators/specialization/<%= s.id %>/delete" data-confirm="Are you sure?">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </a>
                          </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_specialization" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_specialization" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
