<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-inbox"></span>Students
                </li>
            </ol>
            <h4></h4>

            <div class="panel-heading">
                <div class="row">
                <div class="col-xs-4">
                    Students
                </div>
                <div class="col-xs-4">
                  <%= button_to('Add Student', add_student_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_student', method: 'get', :class => 'btn btn-sm btn-success btn-block'}) %>
                </div>
                <div class="col-xs-4">
                    <a href="/coordinators/student.pdf" id="headcontent">
                        <span class="fa fa-file-pdf-o pull-right">
                        </span>
                    </a>
                    <a href="/coordinators/student.xlsx" id="headcontent">
                        <span class="fa fa-file-excel-o pull-right">
                        </span>
                    </a>
                </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> All fields are <b>required</b>.</li>
                    <li> ID Number must be exactly <b>9 digits</b>.</li>
                    <li> Year level must only be <b>1 - 5</b>.</li>
                    <li> ID Number <b>may already be taken</b>.</li>
                  </ul>
                </div>
              <% end %>

            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th style="text-align: center">Name</th>
                  <th>Year</th>
                  <th style="text-align: center">Course/Major</th>
                  <th>Gender</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th style="width: 17%"></th>
                </tr>
              </thead>
              <tbody>
                <% @student.each do |s| %>
                <tr>
                    <% @curriculum = Curriculum.where(id: s.curriculum_id) %>
                    <% @curriculum.each do |c| %>
                        <% @tempC = c.curr_type %>
                    <% end %>
                    <% @specialization = Specialization.where(id: s.specialization_id) %>
                    <% @specialization.each do |sp| %>
                        <% @tempSp = sp.spec_name %>
                    <% end %>
                    <td><%= s.stud_id %></td>
                    <td><%= s.s_fname %> <%= if s.s_mname != nil then s.s_mname end %> <%= s.s_lname %></td>
                    <td><%= s.year %></td>
                    <td><%= @tempSp %></td>
                    <td><%= s.gender %></td>
                    <td><%= s.status %></td>
                    <td><%= @tempC %></td>
                    <td>
                      <div class="row">
                          <div class="col-sm-4">
                            <a href="/coordinators/studentsubjects/<%= s.id %>" role="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="View enlisted subjects">
                              <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <%= link_to edit_student_path(:id =>s.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => "#edit_student", 'data-toggle' => 'tooltip', 'title' => 'Edit student', 'role' => 'button', 'class' => 'btn btn-warning btn-sm'} do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                          </div>
                          <div class="col-sm-4">
                            <a href="/coordinators/student/<%= s.id %>/delete" role="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete student" data-confirm="Are you sure?">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                        </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_student" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_student" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
