<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Student's Subjects
                </li>
            </ol>
                <div class="panel-body">
                    <div>Student ID: <%= @student.stud_id %></div>
                    <div>Name: <%= @student.s_fname %> <%= @student.s_mname %> <%= @student.s_lname %></div>
                    <div>Gender: <%= @student.gender %></div>
                    <% @curr = Curriculum.find(@student.curriculum_id).curr_type %>
                    <div>Type: <%= @curr %></div>
                    <% @major = Specialization.find(@student.specialization_id).spec_name %>
                    <% @program = Program.find(Specialization.find(@student.specialization_id).program_id).program_title %>
                    <div>Year/Course/Major: <%= @student.year.to_s + "/" %> <%= @program + "/" %> <%= @major %></div>
                </div>
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <table id="datatabs" class="table display table-bordered">
                  <thead>
                    <tr>
                        <th>SUBJECT CODE</th>
                        <th>SECTION</th>
                        <th>SUBJECT TITLE</th>
                        <th>TEACHER</th>
                        <th>SEM/ S/Y</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @offering.each do |o| %>
                    <% @subj = Subject.find(o.subject_id) %>
                    <% @faculty = Faculty.find(o.faculty_id) %>
                    <% if @faculty.f_fname == "TBA" %>
                        <% @full = "TBA" %>
                    <% else %>
                        <% @last = @faculty.f_lname.upcase %>
                        <% @mid = @faculty.f_mname.upcase[0] %>
                        <% @first = @faculty.f_fname.upcase %>
                        <% @full = @last + ", " + @first + " " + @mid + "." %>
                    <% end %>
                    <% @sem = Semester.find(o.semester_id).sem_name %>
                    <% @schoolyear = Schoolyear.find(o.schoolyear_id) %>
                    <% @sy = ", " + @schoolyear.startyr.to_s + "-" + @schoolyear.endyear.to_s %>
                    <tr>
                        <td><%= @subj.subject_code %></td>
                        <td><%= o.section %></td>
                        <td><%= @subj.subject_title %></td>
                        <td><%= @full %></td>
                        <td><%= @sem %><%= @sy %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>

