<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "">
                    <span class="glyphicon glyphicon-check"></span>Comprehensive Exams
                </li>                
                <li class = "active">
                    <span class="glyphicon glyphicon-check"></span>Student Exams
                </li>
            </ol>
            <div class="panel-default panel container-fluid">
                <div class="panel-heading row panel-custom">
                      <div class="col-xs-4">
                          <h3 class="panel-title">Student's Comprehensive Exams</h3>
                      </div>
                      <div class="col-xs-4"></div>                               
                </div>
                <div class="panel-body">
                    <div class="row">
                            <div class="col-xs-6">
                                Student ID:  <%= @student.stud_id %>
                            </div>
                            <div class="col-xs-6">
                                Name: <%= @student.s_fname %> <%= @student.s_mname[0] %>. <%= @student.s_lname %>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-6">
                                Exam Subjects Passed: <%= @passed %>
                            </div>
                            <% @verdict %>
                          
                            <div class="col-xs-6">
                                Result: 
                                <% if @checker == true %>
                                    <% @verdict = "PENDING" %>
                                    <span class="label label-warning">PENDING</span>
                                <% elsif @passed < @ref.subjtopass %>
                                    <% @verdict = "FAILED" %>
                                    <span class="label label-danger">FAILED</span>
                                <% elsif @passed >= @ref.subjtopass %>
                                    <% @verdict = "PASSED" %>
                                    <span class="label label-success">PASSED</span>
                                <% end %>                                                
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <% if @verdict == "FAILED" %>
                                <%= button_to('Retake', add_retake_path(:id => @last.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_retake', method: 'get', :class => 'btn btn-sm btn-success pull-right'}) %>
                            <% end %>
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered">
                          <thead>
                            <tr>
                                <th></th>
                                <th>Date Applied</th>
                                <th style="text-align: center">Passing</th>
                                <th style="text-align: center">Score</th>
                                <th style="text-align: center">Amount</th>
                                <th style="text-align: center">OR_NO</th>
                                <th>Result</th>
                                <th style="width: 5%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @counter = 0 %>
                            <% @compexam.each do |c| %>
                                <% @subj = Compexamsubj.where(compexam_id: c.id).where(passed: true).count %>
                                <% @tnil = Compexamsubj.where(compexam_id: c.id).where.not(passed: nil).count %>
                                <% @ver = "N/A" %>
                                <% if @subj >= c.subjtopass %>
                                   <% @ver = "PASSED" %>
                                <% elsif @subj < c.subjtopass && @tnil == c.subjtotake %>
                                    <% @ver = "FAILED" %>
                                <% end %>
                                <tr>
                                    <td style="text-align: center"><%= @counter = @counter + 1 %></td>
                                    <td><%= c.date_applied.to_date.strftime("%a, %b %d %Y")  %></td>
                                    <td style="text-align: center"><%= c.subjtopass %>/<%= c.subjtotake %></td>
                                    <td style="text-align: center"><%= @subj %></td>
                                    <td><%= c.amount %></td>
                                    <td><%= c.or_no %></td>
                                    <td>
                                        <% if @ver == "PASSED" %>
                                            <span class="label label-success">PASSED</span>
                                        <% elsif @ver == "FAILED" %>
                                            <span class="label label-danger">FAILED</span>
                                        <% else %>
                                            <span class="label label-warning">PENDING
                                        <% end %>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/coordinators/compexam/student_exam/exam_details/<%= c.id %>">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                        <!--
                                        <%= link_to edit_compexam_path(:id => c.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_compexam'} do %>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        <% end %>
                                        -->
                                    </td>
                                </tr>
                            <% end %>
                          </tbody>
                    </table>
                </div>
            </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="edit_compexam" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="add_retake" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>