<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Subjects
                </li>
            </ol>

            <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                      Subjects
                  </div>
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4">
                    <%= link_to add_subject_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_subject', method: 'get', :class => 'btn btn-sm btn-success pull-right'} do %>
                        <span class="glyphicon glyphicon-plus"></span>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="panel-body">

              <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name %>" role="alert">
                  <b><%= msg %></b>
                  <ul>
                    <li> Subject Code must be <b>5 - 7 characters</b>.</li>
                    <li> Subject Code only accepts <b>letters and numbers</b>.</li>
                    <li> Subject Title must have <b>atleast 3 characters</b>.</li>
                    <li> Subject Title only accepts <b>letters, numbers, and selected special characters(.,&-)</b>.</li>
                    <li> Subject Code and Subject Title may already be <b>taken</b>.</li>
                  </ul>
                </div>
              <% end %>

            <table id="datatabs" class="table display table-bordered">
              <thead>
                <tr>
                  <th>Subject Code</th>
                  <th style="text-align: center">Title</th>
                  <th>Units</th>
                  <th style="text-align: center">Fee</th>
                  <th style="width: 11%"></th>
                </tr>
              </thead>
              <tbody>
                <% @subject.each do |s| %>
                <tr>
                    <td><%= s.subject_code %></td>
                    <td><%= s.subject_title %></td>
                    <td><%= s.units %></td>
                    <td>
                      <%= Fee.find(s.default_fee).fee_name %>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-sm-6">
                          <%= link_to edit_subject_path(:id => s.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_subject', 'role' => 'button', 'class' => 'btn btn-warning btn-sm'} do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          <% end %>
                        </div>
                        <div class="col-sm-6">
                        <a href="/coordinators/subject/<%= s.id %>/delete" role="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete student" data-confirm="Are you sure?">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        </div>
                      </div>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_subject" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_subject" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
