<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>tempscheds
                </li>
            </ol>
            <center>
            <%= button_to('Add tempsched', add_tempsched_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_tempsched', method: 'get', :class => 'btn btn-large btn-primary'}) %>
            </center>
            <div class="panel-body">
                <div class="panel-heading">
                    Temporary Stuffs
                </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Days</th>
                </tr>
              </thead>
              <tbody>
                <% @tempsched.each do |t| %>
                <tr>
                    <% @c = "-" %>
                    <td><%= t.t_start.strftime("%I:%M %p") %> <%= @c %> <%= t.t_end.strftime("%I:%M %p") %></td>
                    <% @temp = t.t_days.gsub(/[",0]/,'') %>
                    <% @temp1 = @temp.gsub(/"|\[|\]/, '') %>
                    <% @temp2 = @temp1.delete(' ') %>
                    <td><%= @temp2 %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="add_tempsched" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit_tempsched" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
