<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-folder-open"></span>Tuition Fee Discounts
                </li>
            </ol>
            <center>
            </center>
                <div class="panel-default panel container-fluid">
                    <div class="panel-heading row panel-custom">
                      <div class="col-xs-4">
                          <h3 class="panel-title">List of Students with Tuition Fee Discounts</h3>
                      </div>
                      <div class="col-xs-4"></div>
                      <div class="col-xs-4">
                          <a href="/coordinators/tuition.pdf">
                           <span class="fa fa-file-pdf-o pull-right">
                              </span>
                          </a>
                          <a href="/coordinators/tuition.xlsx">
                          <span class="fa fa-file-excel-o pull-right">
                              </span>
                          </a>
                      </div>                                              
                </div>
                <div class="panel-body">
                    <p class="text-center rhead"> 
                        GRADUATE PROGRAMS
                    </p>
                    <p class="text-center shead">
                          LIST OF STUDENTS WITH TUITION FEE DISCOUNT
                          <br>
                          <% @date = Date.today %>
                          AS OF <%= @date.strftime("%B").upcase %> <%= @date.strftime("%d") %>, <%= @date.strftime("%Y") %>
                          <br>
                          <% @sem = Semester.find(Contpan.first.semester_id) %>
                          <% @sy = Schoolyear.find(Contpan.first.schoolyear_id) %>
                          <%= @sem.sem_name %> Semester,  SY <%= @sy.startyr %>-<%= @sy.endyear%>
                    </p>               
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th></th>
                          <th>ID NUMBER</th>
                          <th style="text-align: center">NAME</th>
                          <th style="text-align: center">COURSE</th>
                          <th style="text-align: center">DISCOUNT</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @g = 0 %>
                        <% @tstu.each do |t| %>
                            <% @spec = t.specialization_id %>
                            <% @program = Program.find(Specialization.find(@spec).program_id) %>
                            <% @tempHis = History.find_by(student_id: t.id, sem: @sem, sy: @sy) %>
                            <% @tempDis = Discount.find(@tempHis.discount_id) %>
                            <tr>
                                <td><%= @g = @g + 1 %></td>
                                <td><%= t.stud_id %></td>
                                <td><%= t.s_lname.upcase %>, <%= t.s_fname.upcase %> <%= t.s_mname[0] %>.</td>
                                <td><%= @program.program_title %></td>
                                <td>
                                <% if @tempDis.disc_name == "CHED" %>
                                  <%= @tempDis.disc_name %>
                                <% else %>
                                  <%= @tempDis.disc_value * 100 %> %
                                <% end %>
                                </td>
                                <td>
                                    <%= link_to edit_tfeediscount_path(:id => @tempHis.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_tfeediscount', :class => 'btn btn-sm btn-warning'} do %>
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                        <% end %>
                                </td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                </div>                    
                </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>

<div id="edit_tfeediscount" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>