$(document).ready( function() {
	$("#edit_user").html("<%= escape_javascript(render 'users/edit_user') %>");
	$('#edit_user').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_user' ).modal( 'hide' );
});

$('#edit_user').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})
