<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Manage Users
                </li>
            </ol>
            <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-4">
                        <b>MANAGE USERS</b>
                    </div>
                  </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 7%"></th>
                            <th>Username</th>
                            <th style="text-align: center">User</th>
                            <th style="text-align: center">Role</th>
                            <th style="width: 7%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @count = 0 %>
                        <% @user.each do |u| %>
                            <% @len = u.username.length %>
                            <% @id = u.username.slice(1..@len).to_s %>
                            <% @f = Faculty.find_by(f_id: @id) %>
                            <tr>
                                <td style="text-align: center"><%= @count = @count + 1 %></td>
                                <td><%= u.username %></td>
                                <td><%= @f.f_lname %></td>
                                <td>
                                    <% if u.role == 1 %>
                                        <%= "Admin" %>
                                    <% elsif u.role == 3 %>
                                        <%= "Teacher" %>
                                    <% else %>
                                        <%= "Coordinator" %>
                                    <% end %>
                                </td>
                                <td>
                                  <%= link_to edit_user_path(:id => u.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_user', :class => "btn btn-sm btn-warning"} do %>
                                        <span class="glyphicon glyphicon-pencil"></span>
                                  <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>
<div id="edit_user" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>