<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="myModalLabel">Update Result</h2>
		</div>
		<%= form_for(@compexamsubj, :url => update_subj_path(:id => params[:id]), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.label :date, "Subject", class: "col-sm-2 control-label" %>
					<div class="col-sm-10">
						<%= @subject.subject_code %>- <%= @subject.subject_title %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :pass, "Verdict", class: "col-sm-2 control-label" %>
					<div class="col-sm-5">
						<%= f.label :pa, "Pass" %>
						<%= f.radio_button :passed, "1" %>
					</div>
					<div class="col-sm-5">
						<%= f.label :fail, "Fail" %>
						<%= f.radio_button :passed, "0" %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6 col-sm-offset-3">

					<button type="button" class="btn btn-default btn-primary btn-block" data-toggle="modal" data-target="#promptSubmit">
						Update
					</button>

					<div class="modal fade" id="promptSubmit" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<p>Are you sure you want to update the result?</p>
											</div>
											<div class="col-md-4">
												<button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">NO</button>
												<center><%= f.submit "YES", class: "btn btn-default btn-sm btn-success", id: "submitform" %></center>
											</div>
										</div>
					        </div>
					      </div>
					    </div>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>
