<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-check"></span>Manage Exam/s
                </li>
            </ol>
            <center>
            </center>
            <div class="panel-heading">
                Comprehensive Exam
            </div>
            <div class="panel-body">
              <table id="" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Subject Code</th>
                    <th>Title</th>
                    <th>Result</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @compexam.each do |ce| %>
                    <% @ces = Compexamsubj.where(examiner: current_user.id).where(compexam_id: ce.id) %>
                    <% @student = Student.find(ce.student_id) %>
                    <% @fname = @student.s_fname.upcase %>
                    <% @mname = @student.s_mname[0] %>
                    <% @lname = @student.s_lname.upcase %>
                      <% @ces.each do |ces| %>
                        <% @offering = Offering.find(ces.offering_id).subject_id %>
                        <% @subject = Subject.find(@offering) %>
                        <tr>
                          <td><%= @student.stud_id %></td>
                          <td><%= @lname %>, <%= @fname %> <%= @mname %>.</td>
                          <td><%= @subject.subject_code %></td>
                          <td><%= @subject.subject_title %></td>
                          <td>
                            <% if ces.passed == true %>
                                <% @verd = "PASSED" %>
                                <span class="label label-success">PASSED</span>
                            <% elsif ces.passed == false %>
                                <% @verd = "FAILED" %>
                                <span class="label label-danger">FAILED</span>
                            <% else %>
                                <span class="label label-warning">PENDING</span>
                            <% end %> 
                          </td>
                          <td>
                              <%= link_to edit_subj_path(:id => ces.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_subj', :class => 'btn btn-warning btn-sm'} do %>
                                    <span class="glyphicon glyphicon-pencil"></span>
                              <% end %>
                          </td>
                        </tr>
                      <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="edit_subj" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>