
<div id="page-wrapper">
    <div class="row">
      <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
            </ol>
        <div class="row">
          <div class="col-md-12">
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                        <div class="active item">
                              <%=  link_to image_tag("carousel1.jpg", :alt => "Slide1", :size => "2000x576", :crop => ":fill"), {:class => "img-responsive", :alt => "Responsive image"} %>
                        </div>
                        <div class="item">
                              <%=  link_to image_tag("carousel2.jpg", :alt => "Slide2", :size => "2000x576", :crop => ":fill"), {:class => "img-responsive", :alt => "Responsive image"} %>
                        </div>
                        <div class="item">
                              <%=  link_to image_tag("carousel3.jpg", :alt => "Slide3", :size => "2000x576", :crop => ":fill"), {:class => "img-responsive", :alt => "Responsive image"} %>
                        </div>
                        <div class="item">
                              <%=  link_to image_tag("carousel4.jpg", :alt => "Slide4", :size => "2000x576", :crop => ":fill"), {:class => "img-responsive", :alt => "Responsive image"} %>
                        </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('#myCarousel').carousel('cycle');
});
</script>
