$(document).ready( function() {
	$("#edit_subj").html("<%= escape_javascript(render 'teachers/edit_subj') %>");
	$('#edit_program').modal('show');
});

$("#submitform").click( function() {
  $( '#edit_subj' ).modal( 'hide' );
});

$('#edit_subj').on('hidden.bs.modal', function () {
	setTimeout('history.go(0);');
})