<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-book"></span>My Subjects
                </li>
            </ol>
            <div class="panel-default panel container-fluid">
                    <div class="panel-heading row panel-custom">
                      <div class="col-xs-4">
                          <h3 class="panel-title">
                              My Subjects
                          </h3>
                      </div>
                      <div class="col-xs-4"></div>                                             
            </div>
            <div class="panel-body">
                <% @schoolyear.each do |s|  %>
                    <% @offering = Offering.where(schoolyear_id: s.id).where(faculty_id: current_user.id).where("slots_taken > ?", 0) %>
                    <div class="panel-heading">
                        <div style="font-weight: bold!important">
                            <b>School Year <%= s.startyr %>-<%= s.endyear %></b>
                        </div>
                    </div>
                    <table class="table display table-bordered">
                      <thead>
                        <tr>
                            <th>SUBJECT CODE</th>
                            <th>SUBJECT TITLE</th>
                            <th>SECTION</th>
                            <th>UNITS</th>
                            <th>TIME/DAYS</th>
                            <th>SEMESTER</th>
                            <th>CLASS SIZE</th>
                            <th>ACTION</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @offering.each do |o| %>
                            <% @subjectC = Subject.find(o.subject_id).subject_code %>
                            <% @subjectT = Subject.find(o.subject_id).subject_title %>
                            <% @sch = Schedule.find_by(offering_id: o.id) %>
                            <% @tempday = @sch.days.gsub(/[",0]/,'') %>
                            <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                            <% @days = @tempday1.delete(' ') %>
                            <% @timestart = @sch.time_start.strftime("%I:%M %p") %>
                            <% @c = " - " %>
                            <% @timeend = @sch.time_end.strftime("%I:%M %p") %>
                            <% @sem = Semester.find(o.semester_id).sem_name %>
                            <% @sy = Schoolyear.find(o.schoolyear_id) %>
                            <% @tempSy = @sy.startyr.to_s + "-" + @sy.endyear.to_s %> 

                            <tr>
                                <td><%= @subjectC %></td>
                                <td><%= @subjectT %></td>
                                <td><%= o.section %></td>
                                <td><%= o.unit %></td>
                                <td><%= @timestart %>-<%= @timeend %> <%= @days %></td>
                                <td><%= @sem %></td>
                                <td style="text-align: center"><%= o.slots_taken %></td>
                                <td>
                                        <a href="/teachers/mysubjects/<%= o.id %>" class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>

                                </td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                <% end %>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>

