<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "">
                    <span class="glyphicon glyphicon-th"></span>Profile
                </li>
            </ol>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-heading custompanel">
                      <h4 class="semibold nm">FACULTY PROFILE</h4>
                    </div>
                    <div class="panel-body"> 
                        <div class="form-group">
                            <div class="col-sm-4">
                                Faculty ID
                            </div>
                            <div class="col-sm-8">
                                <%= @faculty.f_id %>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-sm-4">
                                Name
                            </div>
                            <div class="col-sm-8">
                              <%= @faculty.f_fname %> <%= @faculty.f_mname[0] %>. <%= @faculty.f_lname %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                              Degree
                            </div>
                            <div class="col-sm-8">
                              <%= @faculty.degree %>
                            </div>
                        </div>                    
                        <div class="form-group">
                            <div class="col-sm-4">
                              Employee Type
                            </div>
                            <div class="col-sm-8">
                              <%= @faculty.f_type %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
