<div id="page-wrapper">
    <div class="row">
        <div class="col-md-2">
          <!-- filler -->
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class = "active">
                    <span class="glyphicon glyphicon-dashboard"></span>Dashboard
                </li>
                <li class = "active">
                    <span class="glyphicon glyphicon-th"></span>Classlist
                </li>
            </ol>
            <div class="panel-body table_header">
                <% @timestart = @schedule.time_start.strftime("%I:%M %p") %>
                <% @chr = " - " %>
                <% @timeend = @schedule.time_end.strftime("%I:%M %p") %>
                <% @time = @timestart.to_s + @chr + @timeend.to_s %>
                <% @tempday = @schedule.days.gsub(/[",0]/,'') %>
                <% @tempday1 = @tempday.gsub(/"|\[|\]/, '') %>
                <% @days = @tempday1.delete(' ') %>
                <% @subject = Subject.find(@offering.subject_id) %>
                <% @subj = @subject.subject_code.upcase + " " + @subject.subject_title.upcase %>
                <% @section = @offering.section %>
                <% @room = Room.find(@offering.room_id).room_name %>
                <% @type = Classtype.find(@offering.classtype_id).ctype_name %>
                <ul class="list-unstyled mt15 mb15">
                    <li class="text-center">

                        <h3 class="semibold mb0 offering">
                            <b><%= @subject.subject_title.upcase %></b>
                            <a href="/teachers/mysubjects/<%= @offering.id %><%=".pdf"%>"><span class="fa fa-file-pdf-o pull-right pdf"></span></a>
                              <a href="/teachers/mysubjects/<%= @offering.id %>.xlsx">
                              <span class="fa fa-file-excel-o pull-right pdf">
                                  </span>
                              </a>

                        </h3>
                        <span><%= @subject.subject_code.upcase %> - <%= @section %></span>
                    </li>

                </ul>
            </div>
            <div class="panel-body">
                <% @faculty = Faculty.find(@offering.faculty_id) %>
                <ul class="nav nav-section nav-justified">
                    <li>
                        <div class="section">
                            <h4 class="semibold nm">
                                <%= @faculty.f_fname %> <%= @faculty.f_mname[0] %>. <%= @faculty.f_lname %>
                            </h4>
                            <p class="nm">Instructor</p>
                        </div>
                    </li>
                    <li>
                        <div class="section">
                            <h4 class="semibold nm">
                               <%= @days %> <%= @time %> <%= @room %>
                            </h4>
                            <p class="nm">Day | Time | Room </p>
                        </div>
                    </li>
                    <li>
                        <div class="section">
                            <h4 class="semibold nm">
                               <%= @type %>
                            </h4>
                            <p class="nm">Class Type</p>
                        </div>
                    </li>
                </ul>

            </div>
            <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                        <th width="5%"></th>
                        <th style="text-align: center">NAME</th>
                        <th style="text-align: center">YEAR</th>
                        <th style="text-align: center">COURSE</th>
                        <th style="text-align: center">TRACK</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @students.each do |s| %>
                    <% @spec = Specialization.find(s.specialization_id) %>
                    <% @prog = Program.find(@spec.program_id) %>
                    <tr>
                        <td>
                            <div class="media-object">
                                <img src="/assets/studentImage.png">
                            </div>
                        </td>
                        <td><b><%= s.s_lname.upcase %></b>, <%= s.s_fname %> <%= s.s_mname[0] %>. </td>
                        <td style="text-align: center"><%= s.year %></td>
                        <td><%= @prog.program_title %></td>
                        <td><%= @spec.spec_name %> </td>
                    </tr>
                    <% end %>
                  </tbody>
            </table>
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
