.first {
	border-bottom-width: 2px;
	border-style: solid;
}

.navbar .navbar-brand{
	color: #ecf0f1;
	font-style: helvetica;
	margin-left: 10px!important;
}
body {
	padding-top: 60px;
	background-color: #ECF0F5;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}


@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 40px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #222D32;
		font-size: 13px;
	}
}

.displayed > li > .text-center {
	color: #FFFFFF;
	padding: 10px;
}

.glyphicon {
	padding-right: 5px;
}

.ddown{
	float: right;
}
.nav-sidebar > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #B8C7C9;
	font-size: 13px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > ul > li > a:focus,
.nav-sidebar > li > ul > li > a:hover {
	color: #FFFFFF;
	background-color: #1E282C;
	text-decoration: none;
}

.arrow{
	padding-left: 15px;
}

.sidebar .collapse{
	background-color: #1E282C;
}

#page-wrapper{
	margin:10px;
}
#logout{
  padding-top: 10px;
  color: black!important;
}

.navbar-brand{
  padding-left: 1px;
}

.sidebar-menu-button:focus{
    color: #FFFFFF;
  	background-color: #1E282C !important;
}

.nav-sidebar > li > ul {
  list-style-type: none;
}

.nav-sidebar > li > ul > li > a{
	color: #B8C7C9;
}

.nav-sidebar > li > ul > li {
	padding-bottom: 5px;
}

.panel-heading
{
	color: white !important;
	font-size: 15px;
}

.panel{
	margin: 30px;
}

.rhead{
	font-weight: bold;
}



.shead{
	font-weight: bold;
}
.panel > .panel-custom{
	background-color : #f5f5f5 !important;
}

.panel-title{
	color : #cc328 !important;
}
.table {
	background-color: #FFFFFF;
}



#check_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.panel-body {
	background-color: #FFFFFF;

}

#loginform {
	margin-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
}

#usrlogin {
	margin-top: 10px;
}

#pwdlogin {
	margin-top: 10px;
}

#btnlogin {
	margin-top: 10px;
}

#btnapply {
	margin-top: 30px;
}

#btncommon {
	margin-bottom: 30px;
}

#vr {
	border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  width: 1px;
}

.dashBoard {
	border-radius: 15px;
	padding-left: 50px;
	padding-right: 50px;
}

#headcontent {
	color: #FFFFFF;
}

.mb15{
	margin-bottom: 15px!important;
}

.mb5{
	margin-bottom: 5px!important;
}

.mt15{
	margin-top: 15px!important;
}

.mt0{
	margin-top: 0!important;
}


.list-unstyled{
	padding-left: 0;
	list-style: none;
}

.semibold{
	font-weight: 600;
}

.mb0{
	margin-bottom: 0!important;
}

h3{
	font-family: 'Open Sans', sans-serif;
	color: black!important;
}

.nav-justified{
	width: 100%;
}

.nav-section>li>.section{
	position: relative;
	padding: 5px 10px;
	text-align: center;
	margin: 0;
	float: left;
}

.nm{
	margin: 0!important;
}

ul{
	display: block;

}

.nav-section.nav-justified>li{
	display: table-cell;
	width: 1%;
}


.nav-section>li {
    position: relative;
}

.table .media-object>img {
    width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.btn-primary{
	background-color: #00b1e1;
	border-color: #00a5d2;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0px;
}

.btn-xs{
	font-size: 11px;
	padding: 1px 5px;
}

.btn-danger{
	background-color: #ed5466;
	border-color: #ec456a;
}

.btn-sm{
	font-size: 12px;
	padding: 5px 10px;
}

.btn-block{
	display:block;
	width: 100%;
}

.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}


/* */
.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}

.widget.widget-table .table {
margin-bottom: 0;
border: none;
}

.widget.widget-table .widget-content {
padding: 0;
}

.widget .widget-header + .widget-content {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.widget .widget-content {
padding: 20px 15px 15px;
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.widget .widget-header {
position: relative;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;
}

thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

.widget .widget-header h3 {
top: 2px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
display: inline-block;
margin-left: 13px;
margin-right: -2px;
font-size: 16px;
color: #555;
vertical-align: middle;
}

.panel-heading>.panel-title {
    font-size: 14px;
    font-weight: 600;
}

.panel-heading>.panel-title, .panel-heading>.panel-toolbar {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 40px;
    float: none!important;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.offering{
	color: white!important;
}

.panel-gold {
  border-color: #FF9933;
	width: 100%;
	margin-left: 0px;
}


.panel-gold > a:hover {
  color: #204c77;
}

.collapse > .list-group > .list-group-item:hover {
	background-color: #F5F5F5;
	text-decoration: none;
}



.collapse > .list-group > .list-group-item a,
.collapse > .list-group > .list-group-item a:toggle {
	text-decoration: none;
	color: #000000;
}

.navbar-right > li > a:hover{
	background-color: #5088bf;
}


.custompanel{
	margin-top: 20px;
}

.custompanel> .panel-heading{
	margin-top: 20px;
}

.title-font {
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF !important;
}

#myCarousel {
  width: 100%;
  overflow: hidden;
	margin: inherit;
	align-items: center;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

#footer {
	font-size: 10pt;
	color: #FFFFFF;
	margin-top: 50px;
	background-color: #336699;
	padding: 30px;
}

.pdf{
	color:white!important;
}