<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <style>
        <% @color = Appearance.first.color %>
        <% @seccolor = Appearance.first.sec_color %>
        .first{
            background-color: <%= @color %>;
            border-bottom-color: <%= @seccolor %>;

        }

        .panel-heading{
          background-color : <%= @color %> !important;
        }

        .panel-gold > .panel-heading {
          color: white;
          background-color: <%= @color %>;
        }
        .panel-gold > a {
            color: <%= @color %>;
        }
        .modal-header {
          background-color: <%= @color %>;
          color: white !important;
        }

        .modal-footer {
          background-color: <%= @seccolor %>;
        }
        .table_header{
          background-color: <%= @color %> !important;
          color: white !important;
        }

        }
    </style>
  </head>

  <body>
  <% if controller.controller_name == "coordinators" || controller.controller_name == "students" || controller.controller_name == "teachers" || controller.controller_name == "users" %>
      <div id="wrapper">
      	<div class="navbar navbar-fixed-top navbar-default first" role="navigation">
      		<div class="container-fluid">
      			<div class="row">
      				<div class="col-sm-3">
      					<div class="navbar-header">
      						<div class="navbar-brand">
                    <% @title = Contpan.first.site_name %>
      							<strong class="title-font"><%= @title %></strong>
      						</div>
      					</div>
      				</div>

      				<div class="col-sm-6">
                  <center id="headcontent"><strong><h4><%= @sem = Semester.find(Contpan.first.semester_id).sem_name %> Semester, S/Y <%= @sy = Schoolyear.find(Contpan.first.schoolyear_id).startyr %> <%= "-" %><%= @sy = Schoolyear.find(Contpan.first.schoolyear_id).endyear %></h4></strong></center>
      				</div>

              <div class="col-sm-3" id="headcontent">
                <ul class="nav navbar-top-links navbar-right">
                      <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white!important">
                              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-user">
                              <% if controller.controller_name == "teachers" %>
                                <li><a href="/teachers/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                                </li>
                              <% elsif controller.controller_name == "students" %>
                                <li><a href="/students/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                                </li>
                              <% end %>
                              <li><a href="#"><i class="fa fa-user fa-fw"></i> <%= controller.controller_name %></a>
                              </li>
                              <% if controller.controller_name == "coordinators" %>
                                <li id="settings"><a href="/coordinators/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li id="customize">
                                      <%= link_to edit_appearance_path(:id => Appearance.first.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#edit_appearance'} do %>
                                          <i class="fa fa-paint-brush fa-fw"></i> Customize
                                      <% end %>
                                </li>
                              <% end %>

                              <% if controller.controller_name == "coordinators"%>
                                <li id="help"><a href="/coordinators/help"><i class="fa fa-info fa-fw"></i> Help</a>
                                </li>
                                <li class="divider"></li>
                                <li id ="edit">
                                  <a href="/coordinators/edit_password">
                                  Change Password
                                  </a>
                                </li>
                              <% elsif controller.controller_name == "students" %>
                              <li id="help"><a href="/students/help"><i class="fa fa-info fa-fw"></i> Help</a>
                              </li>
                              <li class="divider"></li>
                                <li id ="edit">
                                    <a href="/students/edit_password">
                                    Change Password
                                    </a>
                                </li>
                              <% elsif controller.controller_name == "teachers" %>
                                <li id ="edit">
                                    <a href="/teachers/edit_password">
                                    Change Password
                                    </a>
                                </li>
                              <% else %>
                                <li id ="edit">
                                    <a href="/users/edit_password">
                                    Change Password
                                    </a>
                                </li>
                              <% end %>
                              <li id="logout"><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                              </li>
                          </ul>
                          <!-- /.dropdown-user -->
                      </li>
                      <!-- /.dropdown -->
                  </ul>
      				</div>
      			</div>
      		</div>
      	</div>
         <% @image = Appearance.first %>
      	<div class="container-fluid">
      		<div class="row">
      			<div class="col-md-2 sidebar">
      			<% if controller.controller_name == "coordinators" %>
      				<ul class="nav nav-sidebar display">
      					<li>
                  <% @image = Appearance.first %>
                  <%= image_tag(@image.image_url.to_s, :size => "150x150", :class => 'img-circle center-block') %>

      					</li>
      					<li>
                  <div class="text-center" style:"font-size: 11px">
                    <br>
                    <h5 class="bold mt0 mb5" style="color: white!important">
                      <b>COORDINATOR</b>
                    </h5>
                  </div>
      					</li>
      				</ul>
      				<ul class="nav nav-sidebar">
      					<li class="<%= 'active' if controller.action_name == 'dashboard'%>">
      						<a href="/coordinators/dashboard">
      							<span class="glyphicon glyphicon-dashboard"></span>
      							Dashboard
      						</a>
      					</li>
      					<li class="<%= 'active' if controller.action_name == 'offering' %>">
      						<a href="/coordinators/offering">
      							<span class="glyphicon glyphicon-list-alt"></span>
    							  Subject Offerings
      						</a>
      					</li>
                <li class="<%= 'active' if controller.action_name == 'enlist' %>">
                  <a href="/coordinators/enlist">
                    <span class="glyphicon glyphicon-inbox"></span>
                    Enlistment
                  </a>
                </li>
                <li>
                  <a href="javascript:;" class="sidebar-menu-button" data-toggle="collapse" data-target="#menu5">
                    <span class="glyphicon glyphicon-check"></span>
                    Comp. Exam
                    <span class="glyphicon glyphicon-triangle-bottom arrow ddown"></span>
                  </a>
                    <ul id="menu5" class="collapse">
                        <li>
                            <a href="/coordinators/compexam"> Apply a student</a>
                        </li>
                        <li>
                            <a href="/coordinators/compexamapps"> Manage Applications</a>
                        </li>
                    </ul>
                </li>
      					<li>
      						<a href="javascript:;" class="sidebar-menu-button" data-toggle="collapse" data-target="#menu3">
      							<span class="glyphicon glyphicon-th"></span>
                    Records
                    <span class="glyphicon glyphicon-triangle-bottom arrow ddown"></span>
      						</a>
                    <ul id="menu3" class="collapse">
                        <li>
                            <a href="/coordinators/classtype"> Class Types</a>
                        </li>
                        <li>
                            <a href="/coordinators/curriculum"> Curriculum</a>
                        </li>
                        <li>
                            <a href="/coordinators/discount"> Discounts</a>
                        </li>
                        <li>
                            <a href="/coordinators/faculty"> Faculty</a>
                        </li>
                        <li>
                            <a href="/coordinators/fee"> Fees</a>
                        </li>
                        <li>
                            <a href="/coordinators/programs"> Programs</a>
                        </li>
                        <li>
                            <a href="/coordinators/room"> Rooms</a>
                        </li>
                        <li>
                            <a href="/coordinators/schoolyear"> School Year</a>
                        </li>
                        <li>
                            <a href="/coordinators/semester"> Semester</a>
                        </li>
                        <li>
                            <a href="/coordinators/specialization"> Specializations</a>
                        </li>
                        <li>
                            <a href="/coordinators/student"> Students</a>
                        </li>
                        <li>
                            <a href="/coordinators/subject"> Subjects</a>
                        </li>
                    </ul>
      					</li>
      					<li>
                    <a href="javascript:;" class="sidebar-menu-button" data-toggle="collapse" data-target="#menu2">
      							<span class="glyphicon glyphicon-folder-open"></span>
      							Reports
                    <span class="glyphicon glyphicon-triangle-bottom arrow ddown"></span>
                    </a>
                    <ul id="menu2" class="collapse">
                        <li>
                            <a href="/coordinators/classlist"> Class Lists</a>
                        </li>
                        <li>
                            <a href="/coordinators/enrollmentdata"> Enrollment Data</a>
                        </li>
                        <li>
                            <a href="/coordinators/facultyloading"> Faculty Loading</a>
                        </li>
                        <li>
                            <a href="/coordinators/roomandfee"> Rooms and Fees</a>
                        </li>
                        <li>
                            <a href="/coordinators/tuition"> Tuition Fee Discounts</a>
                        </li>
                    </ul>
      					</li>
      				</ul>
            <% elsif controller.controller_name == "students" %>
              <% @student = Student.find_by(username: current_user.username) %>
              <ul class="nav nav-sidebar display">
                <li>
                    <%= image_tag(@image.image_url.to_s, :size => "150x150", :class => 'img-circle center-block') %>
                </li>
                <li>
                  <div class="text-center" style:"font-size: 11px">
                    <br>
                    <h5 class="bold mt0 mb5" style="color: white!important">
                      <b><%= @student.s_fname %> <%= if @student.s_mname != "" then @student.s_mname[0] + "." end %> <%= @student.s_lname %></b>
                    </h5>
                    <p style="color: white">
                      <% @spec = @student.specialization.id %>
                      <% @program = Program.find(Specialization.find(@spec).program_id) %>
                      <%= @program.program_title %>
                    </p>
                  </div>
                </li>
              </ul>
              <ul class="nav nav-sidebar">
                <li class="<%= 'active' if controller.action_name == 'dashboard'%>">
                  <a href="/students/dashboard">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    Dashboard
                  </a>
                </li>
                <li class="<%= 'active' if controller.action_name == 'offering' %>">
                  <a href="/students/offering">
                    <span class="glyphicon glyphicon-inbox"></span>
                    Subject Offerings
                  </a>
                </li>
                <li class="<%= 'active' if controller.action_name == 'mysubjects' %>">
                  <a href="/students/mysubjects">
                    <span class="glyphicon glyphicon-book"></span>
                    My Subjects
                  </a>
                </li>
                <li class="<%= 'active' if controller.action_name == 'enlist' %>">
                  <a href="/students/enlist">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Enlist Subjects
                  </a>
                </li>
                <li class="<%= 'active' if controller.action_name == 'compexam' %>">
                  <a href="/students/compexam">
                    <span class="glyphicon glyphicon-check"></span>
                    Comprehensive Exam
                  </a>
                </li>
              </ul>
            <% elsif controller.controller_name == "users" %>
              <ul class="nav nav-sidebar display">
                <li>
                    <%= image_tag(@image.image_url.to_s, :size => "150x150", :class => 'img-circle center-block') %>
                </li>
                <li>
                  <div class="text-center" style:"font-size: 11px">
                    <br>
                    <h5 class="bold mt0 mb5" style="color: white!important">
                      <b>ADMIN</b>
                    </h5>
                    <p style="color: white">
                    </p>
                  </div>
                  <div class="text-center" style:"font-size: 11px">
                  </div>
                </li>
              </ul>
              <ul class="nav nav-sidebar">
                <li class="<%= 'active' if controller.action_name == 'home'%>">
                    <a href="/users/home">
                      <span class="glyphicon glyphicon-dashboard"></span>
                      Home
                    </a>
                  </li>
              </ul>
            <% elsif controller.controller_name == "teachers" %>
              <% @teacher = Faculty.find_by(username: current_user.username) %>
              <ul class="nav nav-sidebar display">
                <li>
                    <%= image_tag(@image.image_url.to_s, :size => "150x150", :class => 'img-circle center-block') %>
                </li>
                <li>
                  <div class="text-center" style:"font-size: 11px">
                  <br>
                  <h5 class="bold mt0 mb5" style="color: white!important">
                      <b><%= @teacher.f_fname %> <%= @teacher.f_mname %> <%= @teacher.f_lname %></b>
                  </h5>
                  </div>
                  <p style="color: white!important; text-align: center">
                    TEACHER
                  </p>
                </li>
              </ul>
              <ul class="nav nav-sidebar">
                <li class="<%= 'active' if controller.action_name == 'dashboard'%>">
                    <a href="/teachers/dashboard">
                      <span class="glyphicon glyphicon-dashboard"></span>
                      Dashboard
                    </a>
                  </li>
                <li class="<%= 'active' if controller.action_name == 'mysubjects'%>">
                    <a href="/teachers/mysubjects">
                      <span class="glyphicon glyphicon-book"></span>
                      My Subjects
                    </a>
                </li>
                <li class="<%= 'active' if controller.action_name == 'compexam'%>">
                    <a href="/teachers/compexam">
                      <span class="glyphicon glyphicon-check"></span>
                      Manage Exam
                    </a>
                </li>
              </ul>
      			<% end %>
      			</div>
      		</div>
      	</div>
      </div>
      <%= yield %>

  <% else %>
      <%= yield %>
  <% end %>
  <%= gflash %>


  </body>
</html>
<div id="edit_appearance" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
